api/init_data/workflows/en/alert events vaild function calling.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: alert events vaild function calling
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: agent
      id: 1741157526222-source-1741159085487-target
      source: '1741157526222'
      sourceHandle: source
      target: '1741159085487'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: agent
        targetType: question-classifier
      id: 1741159085487-source-1741240469445-target
      source: '1741159085487'
      sourceHandle: source
      target: '1741240469445'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: code
      id: 1741240469445-1-1741240720274-target
      source: '1741240469445'
      sourceHandle: '1'
      target: '1741240720274'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: code
      id: 1741240469445-2-1741240720274-target
      source: '1741240469445'
      sourceHandle: '2'
      target: '1741240720274'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1741240720274-source-1741157560922-target
      source: '1741240720274'
      sourceHandle: source
      target: '1741157560922'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: true
        title: start
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: alert
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: alert
        - label: params
          max_length: 256
          options: []
          required: true
          type: text-input
          variable: params
        - label: startTime(Microsecond)
          max_length: 48
          options: []
          required: true
          type: number
          variable: startTime
        - label: endTime(Microsecond)
          max_length: 48
          options: []
          required: true
          type: number
          variable: endTime
        - allowed_file_extensions:
          - .json
          allowed_file_types:
          - custom
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: input
          max_length: 48
          options: []
          required: false
          type: file
          variable: input
      height: 193
      id: '1741157526222'
      position:
        x: -63.889822287394736
        y: 342.4507007225618
      positionAbsolute:
        x: -63.889822287394736
        y: 342.4507007225618
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1741240720274'
          - result
          variable: text
        selected: false
        title: End
        type: end
      height: 89
      id: '1741157560922'
      position:
        x: 1904.6754701143086
        y: 404.7851940902575
      positionAbsolute:
        x: 1904.6754701143086
        y: 404.7851940902575
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        agent_parameters:
          instruction:
            type: constant
            value: According to the description of the alarm event, select the tool
              to query data and return the tool query content
          model:
            type: constant
            value:
              completion_params: {}
              mode: chat
              model: gpt-5.4
              model_type: llm
              provider: langgenius/openai_api_compatible/openai_api_compatible
              type: model-selector
          query:
            type: constant
            value: '# Alarm description

              {{#1741157526222.alert#}}

              # Data parameters

              {{#1741157526222.params#}}

              # Start time

              {{#1741157526222.startTime#}}

              # End time

              {{#1741157526222.endTime#}}

              Please judge whether the indicator data is jittering or continuously
              rising. Please give a brief answer.'
          tools:
            type: constant
            value:
            - enabled: true
              extra:
                description: ''
              parameters:
                cadvisor_job_name:
                  auto: 1
                  value: null
                endTime:
                  auto: 1
                  value: null
                namespace:
                  auto: 1
                  value: null
                pod:
                  auto: 1
                  value: null
                startTime:
                  auto: 1
                  value: null
              provider_name: apo_select
              schemas:
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: cAdvisor job name
                  ja_JP: cAdvisor job name
                  pt_BR: cAdvisor job name
                  zh_Hans: cAdvisor任务名称
                label:
                  en_US: cAdvisor job name
                  ja_JP: cAdvisor job name
                  pt_BR: cAdvisor job name
                  zh_Hans: cAdvisor任务名称
                llm_description: cAdvisor job name
                max: null
                min: null
                name: cadvisor_job_name
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Namespace
                  ja_JP: Namespace
                  pt_BR: Namespace
                  zh_Hans: 命名空间
                label:
                  en_US: Namespace
                  ja_JP: Namespace
                  pt_BR: Namespace
                  zh_Hans: 命名空间
                llm_description: Namespace
                max: null
                min: null
                name: namespace
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Pod name
                  ja_JP: Pod name
                  pt_BR: Pod name
                  zh_Hans: Pod名称
                label:
                  en_US: Pod name
                  ja_JP: Pod name
                  pt_BR: Pod name
                  zh_Hans: Pod名称
                llm_description: Pod name
                max: null
                min: null
                name: pod
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Data query start time
                  ja_JP: Data query start time
                  pt_BR: Data query start time
                  zh_Hans: 开始时间 (微秒)
                label:
                  en_US: startTime
                  ja_JP: startTime
                  pt_BR: startTime
                  zh_Hans: startTime
                llm_description: Data query start time
                max: null
                min: null
                name: startTime
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: number
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Data query end time
                  ja_JP: Data query end time
                  pt_BR: Data query end time
                  zh_Hans: 结束时间 (微秒)
                label:
                  en_US: endTime
                  ja_JP: endTime
                  pt_BR: endTime
                  zh_Hans: endTime
                llm_description: Data query start time
                max: null
                min: null
                name: endTime
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: number
              settings: {}
              tool_label: Container CPU usage rate (Docker runtime, aggregated by
                Pod)
              tool_name: 容器CPU使用率(使用Docker容器运行时,按Pod统计)
              type: builtin
            - enabled: true
              extra:
                description: ''
              parameters:
                cadvisor_job_name:
                  auto: 1
                  value: null
                endTime:
                  auto: 1
                  value: null
                namespace:
                  auto: 1
                  value: null
                pod:
                  auto: 1
                  value: null
                startTime:
                  auto: 1
                  value: null
              provider_name: apo_select
              schemas:
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: cAdvisor job name
                  ja_JP: cAdvisor job name
                  pt_BR: cAdvisor job name
                  zh_Hans: cAdvisor任务名称
                label:
                  en_US: cAdvisor job name
                  ja_JP: cAdvisor job name
                  pt_BR: cAdvisor job name
                  zh_Hans: cAdvisor任务名称
                llm_description: cAdvisor job name
                max: null
                min: null
                name: cadvisor_job_name
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Namespace
                  ja_JP: Namespace
                  pt_BR: Namespace
                  zh_Hans: 命名空间
                label:
                  en_US: Namespace
                  ja_JP: Namespace
                  pt_BR: Namespace
                  zh_Hans: 命名空间
                llm_description: Namespace
                max: null
                min: null
                name: namespace
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Pod name
                  ja_JP: Pod name
                  pt_BR: Pod name
                  zh_Hans: Pod名称
                label:
                  en_US: Pod name
                  ja_JP: Pod name
                  pt_BR: Pod name
                  zh_Hans: Pod名称
                llm_description: Pod name
                max: null
                min: null
                name: pod
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Data query start time
                  ja_JP: Data query start time
                  pt_BR: Data query start time
                  zh_Hans: 开始时间 (微秒)
                label:
                  en_US: startTime
                  ja_JP: startTime
                  pt_BR: startTime
                  zh_Hans: startTime
                llm_description: Data query start time
                max: null
                min: null
                name: startTime
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: number
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Data query end time
                  ja_JP: Data query end time
                  pt_BR: Data query end time
                  zh_Hans: 结束时间 (微秒)
                label:
                  en_US: endTime
                  ja_JP: endTime
                  pt_BR: endTime
                  zh_Hans: endTime
                llm_description: Data query start time
                max: null
                min: null
                name: endTime
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: number
              settings: {}
              tool_label: Container CPU throttling duration (Containerd runtime, by
                container and Pod)
              tool_name: 容器CPU节流时长(使用Containerd容器运行时,按容器和Pod统计)
              type: builtin
            - enabled: true
              extra:
                description: ''
              parameters:
                cadvisor_job_name:
                  auto: 1
                  value: null
                endTime:
                  auto: 1
                  value: null
                namespace:
                  auto: 1
                  value: null
                pod:
                  auto: 1
                  value: null
                startTime:
                  auto: 1
                  value: null
              provider_name: apo_select
              schemas:
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: cAdvisor job name
                  ja_JP: cAdvisor job name
                  pt_BR: cAdvisor job name
                  zh_Hans: cAdvisor任务名称
                label:
                  en_US: cAdvisor job name
                  ja_JP: cAdvisor job name
                  pt_BR: cAdvisor job name
                  zh_Hans: cAdvisor任务名称
                llm_description: cAdvisor job name
                max: null
                min: null
                name: cadvisor_job_name
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Namespace
                  ja_JP: Namespace
                  pt_BR: Namespace
                  zh_Hans: 命名空间
                label:
                  en_US: Namespace
                  ja_JP: Namespace
                  pt_BR: Namespace
                  zh_Hans: 命名空间
                llm_description: Namespace
                max: null
                min: null
                name: namespace
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Pod name
                  ja_JP: Pod name
                  pt_BR: Pod name
                  zh_Hans: Pod名称
                label:
                  en_US: Pod name
                  ja_JP: Pod name
                  pt_BR: Pod name
                  zh_Hans: Pod名称
                llm_description: Pod name
                max: null
                min: null
                name: pod
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Data query start time
                  ja_JP: Data query start time
                  pt_BR: Data query start time
                  zh_Hans: 开始时间 (微秒)
                label:
                  en_US: startTime
                  ja_JP: startTime
                  pt_BR: startTime
                  zh_Hans: startTime
                llm_description: Data query start time
                max: null
                min: null
                name: startTime
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: number
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Data query end time
                  ja_JP: Data query end time
                  pt_BR: Data query end time
                  zh_Hans: 结束时间 (微秒)
                label:
                  en_US: endTime
                  ja_JP: endTime
                  pt_BR: endTime
                  zh_Hans: endTime
                llm_description: Data query start time
                max: null
                min: null
                name: endTime
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: number
              settings: {}
              tool_label: Container memory usage in bytes (Containerd runtime, aggregated
                by container and Pod)
              tool_name: 容器内存使用字节数(使用Containerd容器运行时,按容器和Pod统计)
              type: builtin
            - enabled: true
              extra:
                description: ''
              parameters:
                endTime:
                  auto: 1
                  value: null
                namespace:
                  auto: 1
                  value: null
                pod:
                  auto: 1
                  value: null
                startTime:
                  auto: 1
                  value: null
              provider_name: apo_select
              schemas:
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Specified pod name
                  ja_JP: Specified pod name
                  pt_BR: Specified pod name
                  zh_Hans: 指定的容器POD名称
                label:
                  en_US: pod
                  ja_JP: pod
                  pt_BR: pod
                  zh_Hans: pod
                llm_description: Specified pod name
                max: null
                min: null
                name: pod
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Specified namespace
                  ja_JP: Specified namespace
                  pt_BR: Specified namespace
                  zh_Hans: 指定的容器所在Namespace
                label:
                  en_US: namespace
                  ja_JP: namespace
                  pt_BR: namespace
                  zh_Hans: namespace
                llm_description: Specified namespace
                max: null
                min: null
                name: namespace
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Data query start time
                  ja_JP: Data query start time
                  pt_BR: Data query start time
                  zh_Hans: 开始时间 (微秒)
                label:
                  en_US: startTime
                  ja_JP: startTime
                  pt_BR: startTime
                  zh_Hans: startTime
                llm_description: Data query start time
                max: null
                min: null
                name: startTime
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: number
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Data query end time
                  ja_JP: Data query end time
                  pt_BR: Data query end time
                  zh_Hans: 结束时间 (微秒)
                label:
                  en_US: endTime
                  ja_JP: endTime
                  pt_BR: endTime
                  zh_Hans: endTime
                llm_description: Data query start time
                max: null
                min: null
                name: endTime
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: number
              settings: {}
              tool_label: Query container rtt
              tool_name: 查询容器网络与下游RTT
              type: builtin
            - enabled: true
              extra:
                description: ''
              parameters:
                content_key:
                  auto: 1
                  value: null
                endTime:
                  auto: 1
                  value: null
                service_name:
                  auto: 1
                  value: null
                startTime:
                  auto: 1
                  value: null
              provider_name: apo_select
              schemas:
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Specified service name
                  ja_JP: Specified service name
                  pt_BR: Specified service name
                  zh_Hans: 指定的服务名
                label:
                  en_US: service_name
                  ja_JP: service_name
                  pt_BR: service_name
                  zh_Hans: service_name
                llm_description: 指定的服务名
                max: null
                min: null
                name: service_name
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Specified endpoint name
                  ja_JP: Specified endpoint name
                  pt_BR: Specified endpoint name
                  zh_Hans: 指定的服务端点名
                label:
                  en_US: content_key
                  ja_JP: content_key
                  pt_BR: content_key
                  zh_Hans: content_key
                llm_description: 指定的服务端点名
                max: null
                min: null
                name: content_key
                options: []
                placeholder: null
                precision: null
                required: false
                scope: null
                template: null
                type: string
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Data query start time
                  ja_JP: Data query start time
                  pt_BR: Data query start time
                  zh_Hans: 开始时间 (微秒)
                label:
                  en_US: startTime
                  ja_JP: startTime
                  pt_BR: startTime
                  zh_Hans: startTime
                llm_description: Data query start time
                max: null
                min: null
                name: startTime
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: number
              - auto_generate: null
                default: null
                form: llm
                human_description:
                  en_US: Data query end time
                  ja_JP: Data query end time
                  pt_BR: Data query end time
                  zh_Hans: 结束时间 (微秒)
                label:
                  en_US: endTime
                  ja_JP: endTime
                  pt_BR: endTime
                  zh_Hans: endTime
                llm_description: Data query start time
                max: null
                min: null
                name: endTime
                options: []
                placeholder: null
                precision: null
                required: true
                scope: null
                template: null
                type: number
              settings: {}
              tool_label: Service request success rate
              tool_name: Originx 北极星指标 (服务层级) - RED指标 - 请求成功率
              type: builtin
        agent_strategy_label: FunctionCalling
        agent_strategy_name: function_calling
        agent_strategy_provider_name: langgenius/agent/agent
        desc: ''
        output_schema: null
        plugin_unique_identifier: langgenius/agent:0.0.9@f16916b704a20067317dbe9030f62aa28f0832021a3ef6d4ce699504074c5e13
        selected: false
        title: Agent
        type: agent
      height: 197
      id: '1741159085487'
      position:
        x: 464.00251678222173
        y: 334.53501396063086
      positionAbsolute:
        x: 464.00251678222173
        y: 334.53501396063086
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: jitter
        - id: '2'
          name: continuous
        desc: ''
        instruction: Determine whether the input conclusion is jitter or continuous
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai_api_compatible/openai_api_compatible
        query_variable_selector:
        - '1741159085487'
        - text
        selected: false
        title: Question Classifier
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 167
      id: '1741240469445'
      position:
        x: 925.6831329188301
        y: 359.7737662160214
      positionAbsolute:
        x: 925.6831329188301
        y: 359.7737662160214
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    res = \"true\"\n    if arg1 ==\
          \ \"continuous\":\n        res = \"false\"\n    return {\n        \"result\"\
          : res,\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: get result
        type: code
        variables:
        - value_selector:
          - '1741240469445'
          - class_name
          variable: arg1
      height: 53
      id: '1741240720274'
      position:
        x: 1416.4535710138914
        y: 404.7851940902575
      positionAbsolute:
        x: 1416.4535710138914
        y: 404.7851940902575
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 337.5205824596659
      y: 248.20243883323087
      zoom: 0.4788466115538565
