api/init_data/workflows/en/infrastructure alert analysis.yml
app:
  description: Analyze CPU, disk, net, memory.
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: infrastructure alert analysis
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: template-transform
      id: 1743649517293-false-1743650887693-target
      selected: false
      source: '1743649517293'
      sourceHandle: 'false'
      target: '1743650887693'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: end
      id: 1743650887693-source-1743650967123-target
      selected: false
      source: '1743650887693'
      sourceHandle: source
      target: '1743650967123'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 1743649517293-f95e88c3-c649-4fb6-871e-3d8174003593-1743652485397-target
      selected: false
      source: '1743649517293'
      sourceHandle: f95e88c3-c649-4fb6-871e-3d8174003593
      target: '1743652485397'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1743652485397-source-1743652552181-target
      selected: false
      source: '1743652485397'
      sourceHandle: source
      target: '1743652552181'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1743649517293-true-1743664113196-target
      selected: false
      source: '1743649517293'
      sourceHandle: 'true'
      target: '1743664113196'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: variable-aggregator
      id: 1743664113196-source-1743664106885-target
      selected: false
      source: '1743664113196'
      sourceHandle: source
      target: '1743664106885'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: variable-aggregator
      id: 1743652552181-source-1743664106885-target
      selected: false
      source: '1743652552181'
      sourceHandle: source
      target: '1743664106885'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 1743577315409-2-1743668416211-target
      selected: false
      source: '1743577315409'
      sourceHandle: '2'
      target: '1743668416211'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: code
      id: 1743664106885-source-1743670061370-target
      selected: false
      source: '1743664106885'
      sourceHandle: source
      target: '1743670061370'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: code
      id: 1743664106885-source-1743670099979-target
      selected: false
      source: '1743664106885'
      sourceHandle: source
      target: '1743670099979'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 1743577315409-1743577380041-1743672102038-target
      selected: false
      source: '1743577315409'
      sourceHandle: '1743577380041'
      target: '1743672102038'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 1743577315409-1743584263442-1743672573550-target
      selected: false
      source: '1743577315409'
      sourceHandle: '1743584263442'
      target: '1743672573550'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 1743577315409-1743584308108-1743672656692-target
      selected: false
      source: '1743577315409'
      sourceHandle: '1743584308108'
      target: '1743672656692'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 1743577315409-1743584315048-1743672756524-target
      selected: false
      source: '1743577315409'
      sourceHandle: '1743584315048'
      target: '1743672756524'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 1743577315409-1743584315048-1743672762507-target
      selected: false
      source: '1743577315409'
      sourceHandle: '1743584315048'
      target: '1743672762507'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 1743577315409-1743584285389-1743672918677-target
      selected: false
      source: '1743577315409'
      sourceHandle: '1743584285389'
      target: '1743672918677'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 1743577315409-1743584961866-1743673124913-target
      selected: false
      source: '1743577315409'
      sourceHandle: '1743584961866'
      target: '1743673124913'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 1743577315409-1743584976387-1743673153877-target
      selected: false
      source: '1743577315409'
      sourceHandle: '1743584976387'
      target: '1743673153877'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1743668416211-source-1743673518843-target
      selected: false
      source: '1743668416211'
      sourceHandle: source
      target: '1743673518843'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1743672102038-source-1743673518843-target
      selected: false
      source: '1743672102038'
      sourceHandle: source
      target: '1743673518843'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1743672573550-source-1743673518843-target
      selected: false
      source: '1743672573550'
      sourceHandle: source
      target: '1743673518843'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1743672918677-source-1743673518843-target
      selected: false
      source: '1743672918677'
      sourceHandle: source
      target: '1743673518843'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1743672656692-source-1743673518843-target
      selected: false
      source: '1743672656692'
      sourceHandle: source
      target: '1743673518843'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1743672756524-source-1743673518843-target
      selected: false
      source: '1743672756524'
      sourceHandle: source
      target: '1743673518843'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1743672762507-source-1743673518843-target
      selected: false
      source: '1743672762507'
      sourceHandle: source
      target: '1743673518843'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1743673124913-source-1743673518843-target
      selected: false
      source: '1743673124913'
      sourceHandle: source
      target: '1743673518843'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1743673153877-source-1743673518843-target
      selected: false
      source: '1743673153877'
      sourceHandle: source
      target: '1743673518843'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 1743844014629-true-17438441946260-target
      selected: false
      source: '1743844014629'
      sourceHandle: 'true'
      target: '17438441946260'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: question-classifier
      id: 17438441946260-source-1743846657026-target
      selected: false
      source: '17438441946260'
      sourceHandle: source
      target: '1743846657026'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: template-transform
      id: 1743844014629-false-1743847092222-target
      selected: false
      source: '1743844014629'
      sourceHandle: 'false'
      target: '1743847092222'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: template-transform
      id: 17438442246820-false-1743847092222-target
      selected: false
      source: '17438442246820'
      sourceHandle: 'false'
      target: '1743847092222'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: end
      id: 1743847092222-source-1743844231109-target
      selected: false
      source: '1743847092222'
      sourceHandle: source
      target: '1743844231109'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1743847618976-source-1743673518843-target
      selected: false
      source: '1743847618976'
      sourceHandle: source
      target: '1743673518843'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 1743846657026-1-1743848302527-target
      selected: false
      source: '1743846657026'
      sourceHandle: '1'
      target: '1743848302527'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 1743846657026-1-1743848306370-target
      selected: false
      source: '1743846657026'
      sourceHandle: '1'
      target: '1743848306370'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 1743846657026-1-1743848316998-target
      selected: false
      source: '1743846657026'
      sourceHandle: '1'
      target: '1743848316998'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 1743846657026-1-1743848323475-target
      selected: false
      source: '1743846657026'
      sourceHandle: '1'
      target: '1743848323475'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: if-else
      id: 1743577315409-1743844090520-1743844014629-target
      selected: false
      source: '1743577315409'
      sourceHandle: '1743844090520'
      target: '1743844014629'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: if-else
      id: 1743577315409-1743844110304-17438442246820-target
      selected: false
      source: '1743577315409'
      sourceHandle: '1743844110304'
      target: '17438442246820'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 1743846657026-2-1743849441196-target
      selected: false
      source: '1743846657026'
      sourceHandle: '2'
      target: '1743849441196'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: question-classifier
      id: 1743849441196-source-17438494733730-target
      selected: false
      source: '1743849441196'
      sourceHandle: source
      target: '17438494733730'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 17438494733730-2-1743847425675-target
      selected: false
      source: '17438494733730'
      sourceHandle: '2'
      target: '1743847425675'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 17438494733730-2-1743847703261-target
      selected: false
      source: '17438494733730'
      sourceHandle: '2'
      target: '1743847703261'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: tool
      id: 17438494733730-1-1743849875119-target
      selected: false
      source: '17438494733730'
      sourceHandle: '1'
      target: '1743849875119'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1743673613633-source-1743850218410-target
      selected: false
      source: '1743673613633'
      sourceHandle: source
      target: '1743850218410'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 17438483761510-source-1743850218410-target
      selected: false
      source: '17438483761510'
      sourceHandle: source
      target: '1743850218410'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 17438498987710-source-1743850218410-target
      selected: false
      source: '17438498987710'
      sourceHandle: source
      target: '1743850218410'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: variable-aggregator
      id: 17438490633890-source-1743850218410-target
      selected: false
      source: '17438490633890'
      sourceHandle: source
      target: '1743850218410'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: end
      id: 1743850218410-source-17438490239160-target
      selected: false
      source: '1743850218410'
      sourceHandle: source
      target: '17438490239160'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: variable-aggregator
      id: 1743850453842-source-1743673518843-target
      source: '1743850453842'
      sourceHandle: source
      target: '1743673518843'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 17438442246820-true-1743849441196-target
      source: '17438442246820'
      sourceHandle: 'true'
      target: '1743849441196'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: question-classifier
      id: 1743670061370-source-1743577315409-target
      source: '1743670061370'
      sourceHandle: source
      target: '1743577315409'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: question-classifier
      id: 1743670099979-source-1743577315409-target
      source: '1743670099979'
      sourceHandle: source
      target: '1743577315409'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1743576019537-source-1744959389144-target
      source: '1743576019537'
      sourceHandle: source
      target: '1744959389144'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: 1744959389144-source-1743649517293-target
      source: '1744959389144'
      sourceHandle: source
      target: '1743649517293'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: variable-aggregator
        targetType: tool
      id: 1743673518843-source-1745224561449-target
      source: '1743673518843'
      sourceHandle: source
      target: '1745224561449'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: tool
      id: 1743848302527-source-1745228455097-target
      source: '1743848302527'
      sourceHandle: source
      target: '1745228455097'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: tool
      id: 1743848306370-source-1745228463913-target
      source: '1743848306370'
      sourceHandle: source
      target: '1745228463913'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: tool
      id: 1743848316998-source-1745228471960-target
      source: '1743848316998'
      sourceHandle: source
      target: '1745228471960'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: tool
      id: 1743848323475-source-1745228478308-target
      source: '1743848323475'
      sourceHandle: source
      target: '1745228478308'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: tool
      id: 1743847425675-source-1745228513830-target
      source: '1743847425675'
      sourceHandle: source
      target: '1745228513830'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: tool
      id: 1743847703261-source-1745228520609-target
      source: '1743847703261'
      sourceHandle: source
      target: '1745228520609'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: tool
      id: 1743849875119-source-1745228528400-target
      source: '1743849875119'
      sourceHandle: source
      target: '1745228528400'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1745224561449-source-1745894017978-target
      source: '1745224561449'
      sourceHandle: source
      target: '1745894017978'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1745894017978-source-1743673613633-target
      source: '1745894017978'
      sourceHandle: source
      target: '1743673613633'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1745228455097-source-17458959866650-target
      source: '1745228455097'
      sourceHandle: source
      target: '17458959866650'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1745228463913-source-17458959892670-target
      selected: false
      source: '1745228463913'
      sourceHandle: source
      target: '17458959892670'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1745228471960-source-17458959903430-target
      source: '1745228471960'
      sourceHandle: source
      target: '17458959903430'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1745228478308-source-17458959879420-target
      source: '1745228478308'
      sourceHandle: source
      target: '17458959879420'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 17458959866650-source-17438483761510-target
      source: '17458959866650'
      sourceHandle: source
      target: '17438483761510'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 17458959892670-source-17438483761510-target
      source: '17458959892670'
      sourceHandle: source
      target: '17438483761510'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 17458959903430-source-17438483761510-target
      source: '17458959903430'
      sourceHandle: source
      target: '17438483761510'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 17458959879420-source-17438483761510-target
      source: '17458959879420'
      sourceHandle: source
      target: '17438483761510'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1745228520609-source-17459056426090-target
      selected: false
      source: '1745228520609'
      sourceHandle: source
      target: '17459056426090'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 17459056426090-source-17438490633890-target
      source: '17459056426090'
      sourceHandle: source
      target: '17438490633890'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1745228513830-source-17459056606540-target
      source: '1745228513830'
      sourceHandle: source
      target: '17459056606540'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 17459056606540-source-17438490633890-target
      source: '17459056606540'
      sourceHandle: source
      target: '17438490633890'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1745228528400-source-17459186208040-target
      selected: false
      source: '1745228528400'
      sourceHandle: source
      target: '17459186208040'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 17459186208040-source-17438498987710-target
      selected: false
      source: '17459186208040'
      sourceHandle: source
      target: '17438498987710'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: if-else
      id: 1743577315409-1743585039208-17459265895570-target
      source: '1743577315409'
      sourceHandle: '1743585039208'
      target: '17459265895570'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 17459265895570-true-1743847618976-target
      source: '17459265895570'
      sourceHandle: 'true'
      target: '1743847618976'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: template-transform
      id: 17459265895570-false-1745926623499-target
      source: '17459265895570'
      sourceHandle: 'false'
      target: '1745926623499'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: template-transform
        targetType: end
      id: 1745926623499-source-1745926643387-target
      source: '1745926623499'
      sourceHandle: source
      target: '1745926643387'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: question-classifier
        targetType: if-else
      id: 1743577315409-1743584766623-17459267080670-target
      source: '1743577315409'
      sourceHandle: '1743584766623'
      target: '17459267080670'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: template-transform
      id: 17459267080670-false-1745926623499-target
      source: '17459267080670'
      sourceHandle: 'false'
      target: '1745926623499'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: tool
      id: 17459267080670-true-1743850453842-target
      source: '17459267080670'
      sourceHandle: 'true'
      target: '1743850453842'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: startTime
          max_length: 48
          options: []
          required: true
          type: number
          variable: startTime
        - label: endTime
          max_length: 48
          options: []
          required: true
          type: number
          variable: endTime
        - label: params
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: params
      height: 140
      id: '1743576019537'
      position:
        x: 30
        y: 353
      positionAbsolute:
        x: 30
        y: 353
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '2'
          name: CPU usage related
        - id: '1743577380041'
          name: CPU throttling time related
        - id: '1743584263442'
          name: Memory usage related
        - id: '1743584285389'
          name: Memory usage rate related
        - id: '1743584308108'
          name: Network RTT related
        - id: '1743584315048'
          name: Network ingress/egress throughput related
        - id: '1743584766623'
          name: Disk space related
        - id: '1743584961866'
          name: Disk read speed related
        - id: '1743584976387'
          name: Disk write speed related
        - id: '1743585039208'
          name: File description related
        - id: '1743844090520'
          name: CPU IO wait related
        - id: '1743844110304'
          name: Disk I/O utilization related
        desc: ''
        instruction: 你是一个智能告警分类助手，任务是根据给定的告警事件并对其进行分类
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - '1744959389144'
        - alertName
        selected: false
        title: 问题分类器
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 542
      id: '1743577315409'
      position:
        x: 2151
        y: 463
      positionAbsolute:
        x: 2151
        y: 463
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: ac95f5dd-192f-47ba-9743-3687c8f4f52a
            value: ''
            varType: string
            variable_selector:
            - '1744959389144'
            - pod
          - comparison_operator: not empty
            id: 8551fc68-bdea-49c1-931a-0b4841a732b9
            value: ''
            varType: string
            variable_selector:
            - '1744959389144'
            - namespace
          id: 'true'
          logical_operator: and
        - case_id: f95e88c3-c649-4fb6-871e-3d8174003593
          conditions:
          - comparison_operator: not empty
            id: f8b30a3e-187e-44d7-aa78-0f0a255a9c18
            value: ''
            varType: string
            variable_selector:
            - '1744959389144'
            - nodeName
          id: f95e88c3-c649-4fb6-871e-3d8174003593
          logical_operator: and
        desc: ''
        selected: false
        title: ALERT Level Classification
        type: if-else
      height: 198
      id: '1743649517293'
      position:
        x: 636
        y: 353
      positionAbsolute:
        x: 636
        y: 353
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        template: Both POD and nodeName are empty, can not analyze.
        title: inadequate conditions
        type: template-transform
        variables: []
      height: 52
      id: '1743650887693'
      position:
        x: 939
        y: 353
      positionAbsolute:
        x: 939
        y: 353
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1743650887693'
          - output
          variable: output
        selected: false
        title: inadequate conditions
        type: end
      height: 88
      id: '1743650967123'
      position:
        x: 1242
        y: 353
      positionAbsolute:
        x: 1242
        y: 353
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Specified node name
            ja_JP: Specified node name
            pt_BR: Specified pod name
            zh_Hans: 指定的主机名称
          label:
            en_US: node_name
            ja_JP: node_name
            pt_BR: node_name
            zh_Hans: node_name
          llm_description: Specified pod name
          max: null
          min: null
          name: node_name
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Specified Process ID
            ja_JP: Specified Process ID
            pt_BR: Specified Process ID
            zh_Hans: 指定的进程ID
          label:
            en_US: pid
            ja_JP: pid
            pt_BR: pid
            zh_Hans: pid
          llm_description: Specified Process ID
          max: null
          min: null
          name: pid
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          endTime: ''
          node_name: ''
          pid: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 查询节点上被监控的服务列表
        tool_configurations: {}
        tool_label: 查询节点上被监控的服务列表
        tool_name: originx_service_monitor
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          node_name:
            type: mixed
            value: '{{#1744959389144.nodeName#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743652485397'
      position:
        x: 939
        y: 463
      positionAbsolute:
        x: 939
        y: 463
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "def main(arg1: str) -> dict:\n    data = json.loads(arg1)\n    \n \
          \   timeseries = data.get(\"data\", {}).get(\"timeseries\", [])\n    \n\
          \    namespaces = []\n    pods = []\n    for entry in timeseries:\n    \
          \    labels = entry.get(\"labels\", {})\n        \n        namespace = labels.get(\"\
          namespace\", None)\n        pod = labels.get(\"pod\", None)\n        \n\
          \        if namespace and namespace not in namespaces:\n            namespaces.append(namespace)\n\
          \n        if pod and pod not in pods:\n            pods.append(pod)\n  \
          \  \n    output = {\"namespaces\": namespaces, \"pods\": pods}\n    return\
          \ {\n        \"result\": json.dumps(output)\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Get all pods and namespaces
        type: code
        variables:
        - value_selector:
          - '1743652485397'
          - text
          variable: arg1
      height: 52
      id: '1743652552181'
      position:
        x: 1242
        y: 481
      positionAbsolute:
        x: 1242
        y: 481
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        output_type: string
        selected: false
        title: related namespaces and pods
        type: variable-aggregator
        variables:
        - - '1743664113196'
          - result
        - - '1743652552181'
          - result
      height: 129
      id: '1743664106885'
      position:
        x: 1545
        y: 463
      positionAbsolute:
        x: 1545
        y: 463
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "def main(namespace: str, pod: str) -> dict:\n    output = {\n     \
          \   \"namespaces\": [namespace],\n        \"pods\": [pod],\n    }  \n\n\
          \    return {\n        \"result\": json.dumps(output)\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Union structure
        type: code
        variables:
        - value_selector:
          - '1744959389144'
          - namespace
          variable: namespace
        - value_selector:
          - '1744959389144'
          - pod
          variable: pod
      height: 52
      id: '1743664113196'
      position:
        x: 1242
        y: 571.1221381786766
      positionAbsolute:
        x: 1242
        y: 571.1221381786766
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器CPU使用率(使用Containerd容器运行时,按容器和Pod统计)
        tool_configurations: {}
        tool_label: 容器CPU使用率(使用Containerd容器运行时,按容器和Pod统计)
        tool_name: 容器CPU使用率(使用Containerd容器运行时,按容器和Pod统计)
        tool_parameters:
          cadvisor_job_name:
            type: mixed
            value: ''
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743668416211'
      position:
        x: 3666
        y: 463
      positionAbsolute:
        x: 3666
        y: 463
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "def main(data: str) -> dict:\r\n    namespaces = json.loads(data).get(\"\
          namespaces\")\r\n\r\n    separator = \"|\"\r\n    result_str = separator.join(\r\
          \n            str(ns) for ns in namespaces \r\n            if isinstance(ns,\
          \ (str, int))\r\n        )\r\n\r\n    return {\r\n        \"result\": result_str\r\
          \n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Get namespaces
        type: code
        variables:
        - value_selector:
          - '1743664106885'
          - output
          variable: data
      height: 52
      id: '1743670061370'
      position:
        x: 1848
        y: 463
      positionAbsolute:
        x: 1848
        y: 463
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "def main(data: str) -> dict:\n    pod = json.loads(data).get(\"pods\"\
          )\n\n    separator = \"|\"\n    result_str = separator.join(\n         \
          \   str(ns) for ns in pod \n            if isinstance(ns, (str, int))\n\
          \        )\n\n    return {\n        \"result\": result_str\n    }"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: get pods
        type: code
        variables:
        - value_selector:
          - '1743664106885'
          - output
          variable: data
      height: 52
      id: '1743670099979'
      position:
        x: 1848
        y: 555
      positionAbsolute:
        x: 1848
        y: 555
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Specified pod name
            ja_JP: Specified pod name
            pt_BR: Specified pod name
            zh_Hans: 指定的容器POD名称
          label:
            en_US: pod
            ja_JP: pod
            pt_BR: pod
            zh_Hans: pod
          llm_description: Specified pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Specified namespace
            ja_JP: Specified namespace
            pt_BR: Specified namespace
            zh_Hans: 指定的容器所在Namespace
          label:
            en_US: namespace
            ja_JP: namespace
            pt_BR: namespace
            zh_Hans: namespace
          llm_description: Specified namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器CPU节流时长(使用Containerd容器运行时,按容器和Pod统计)
        tool_configurations: {}
        tool_label: 容器CPU节流时长(使用Containerd容器运行时,按容器和Pod统计)
        tool_name: 容器CPU节流时长(使用Containerd容器运行时,按容器和Pod统计)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743672102038'
      position:
        x: 3666
        y: 555
      positionAbsolute:
        x: 3666
        y: 555
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器内存使用字节数(使用Containerd容器运行时,按容器和Pod统计)
        tool_configurations: {}
        tool_label: 容器内存使用字节数(使用Containerd容器运行时,按容器和Pod统计)
        tool_name: 容器内存使用字节数(使用Containerd容器运行时,按容器和Pod统计)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743672573550'
      position:
        x: 3666
        y: 647
      positionAbsolute:
        x: 3666
        y: 647
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Specified pod name
            ja_JP: Specified pod name
            pt_BR: Specified pod name
            zh_Hans: 指定的容器POD名称
          label:
            en_US: pod
            ja_JP: pod
            pt_BR: pod
            zh_Hans: pod
          llm_description: Specified pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Specified namespace
            ja_JP: Specified namespace
            pt_BR: Specified namespace
            zh_Hans: 指定的容器所在Namespace
          label:
            en_US: namespace
            ja_JP: namespace
            pt_BR: namespace
            zh_Hans: namespace
          llm_description: Specified namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器与下游服务的网络往返时间(RTT,按命名空间和Pod统计)
        tool_configurations: {}
        tool_label: 容器与下游服务的网络往返时间(RTT,按命名空间和Pod统计)
        tool_name: 查询容器网络与下游RTT
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743672656692'
      position:
        x: 3666
        y: 739
      positionAbsolute:
        x: 3666
        y: 739
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器网络接收带宽(按命名空间和Pod统计)
        tool_configurations: {}
        tool_label: 容器网络接收带宽(按命名空间和Pod统计)
        tool_name: 容器网络接收带宽(按命名空间和Pod统计)
        tool_parameters:
          cadvisor_job_name:
            type: mixed
            value: ''
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743672756524'
      position:
        x: 3666
        y: 831
      positionAbsolute:
        x: 3666
        y: 831
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器网络发送带宽(按命名空间和Pod统计)
        tool_configurations: {}
        tool_label: 容器网络发送带宽(按命名空间和Pod统计)
        tool_name: 容器网络发送带宽(按命名空间和Pod统计)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743672762507'
      position:
        x: 3666
        y: 923
      positionAbsolute:
        x: 3666
        y: 923
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器内存使用字节数(使用Containerd容器运行时,按容器和Pod统计)
        tool_configurations: {}
        tool_label: 容器内存使用字节数(使用Containerd容器运行时,按容器和Pod统计)
        tool_name: 容器内存使用字节数(使用Containerd容器运行时,按容器和Pod统计)
        tool_parameters:
          cadvisor_job_name:
            type: mixed
            value: ''
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743672918677'
      position:
        x: 3666
        y: 1015
      positionAbsolute:
        x: 3666
        y: 1015
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器磁盘读取耗时每秒(使用Containerd,按Pod和容器统计)
        tool_configurations: {}
        tool_label: 容器磁盘读取耗时每秒(使用Containerd,按Pod和容器统计)
        tool_name: 容器磁盘读取耗时每秒(使用Containerd,按Pod和容器统计)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743673124913'
      position:
        x: 3666
        y: 1107
      positionAbsolute:
        x: 3666
        y: 1107
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器磁盘写入耗时每秒(使用Containerd,按Pod和容器统计)
        tool_configurations: {}
        tool_label: 容器磁盘写入耗时每秒(使用Containerd,按Pod和容器统计)
        tool_name: 容器磁盘写入耗时每秒(使用Containerd,按Pod和容器统计)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743673153877'
      position:
        x: 3666
        y: 1199
      positionAbsolute:
        x: 3666
        y: 1199
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        output_type: string
        selected: false
        title: 相关指标数据
        type: variable-aggregator
        variables:
        - - '1743673153877'
          - text
        - - '1743673124913'
          - text
        - - '1743672918677'
          - text
        - - '1743672762507'
          - text
        - - '1743672756524'
          - text
        - - '1743672656692'
          - text
        - - '1743672573550'
          - text
        - - '1743672102038'
          - text
        - - '1743668416211'
          - text
        - - '1743850453842'
          - text
      height: 305
      id: '1743673518843'
      position:
        x: 3969
        y: 923
      positionAbsolute:
        x: 3969
        y: 923
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 5426b9f0-37c8-45b7-9faa-49695110dc7d
          role: system
          text: You are an intelligent assistant and troubleshooting expert in the
            observability domain, assisting users in analyzing the reasons behind
            alerts.
        - id: 394f3fde-0d44-43dc-9c6d-6737b88c199d
          role: user
          text: "# Objective\nBased on the relevant metric results, analyze the correctness\
            \ or cause of the alert, identify the suspected root cause container,\
            \ and provide appropriate resolution strategies.\n\n# Analysis Process\n\
            Using the relevant metric data: 1. Instance with the highest average anomaly\
            \ point {{#1745894017978.top_abnormal_means#}}, 2. Instance with the highest\
            \ average anomaly growth rate {{#1745894017978.top_abnormal_growths#}},\
            \ analyze the cause of the alert.\n1. Identify containers with abnormal\
            \ resource usage from the metrics; containers with relatively low metric\
            \ values can be ignored. Provide a list of suspected root cause containers\
            \ based on usage.\n2. Based on the alert {{#1744959389144.alertName#}},\
            \ identify the suspected root cause containers and reasons.\n3. Provide\
            \ possible causes of the alert based on program execution and the program's\
            \ functionality, such as:\n   - **CPU**: Frequent garbage collection,\
            \ inefficient algorithms, infinite loops, etc.\n   - **Memory**: Memory\
            \ leaks, oversized data structures, prolonged object lifecycles, etc.\n\
            \   - **Network**: Under attack, insufficient device resources, proxy/VPN\
            \ configuration issues, etc.\n   - **Disk**: Accumulation of large files\
            \ (logs), high I/O load, etc.\n\n# Output\n- If the relevant values are\
            \ within normal ranges, provide other inferred reasons for the alert.\n\
            - If the relevant values are abnormal, provide all suspected root cause\
            \ containers, suspected reasons, and recommended solutions. If containers\
            \ are not involved, omit containers in the response. Format: The root\
            \ cause of the alert {{#1744959389144.alertName#}} is suspected to be\
            \ the xx container, potentially due to xx issue, with recommended solution\
            \ xx."
        selected: false
        title: Infrasturcture analyze
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '1743673613633'
      position:
        x: 4878
        y: 923
      positionAbsolute:
        x: 4878
        y: 923
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: e6cd8761-43fc-4d1d-bc3e-898643d986f3
            value: ''
            varType: string
            variable_selector:
            - '1744959389144'
            - nodeName
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: Is node empty
        type: if-else
      height: 124
      id: '1743844014629'
      position:
        x: 2454
        y: 1312
      positionAbsolute:
        x: 2454
        y: 1312
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Specified host name
            ja_JP: Specified host name
            pt_BR: Specified host name
            zh_Hans: 指定的主机名
          label:
            en_US: node
            ja_JP: node
            pt_BR: node
            zh_Hans: node
          llm_description: Specified host name
          max: null
          min: null
          name: node
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          endTime: ''
          node: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 宿主机磁盘使用百分比率(,不含rootfs)
        tool_configurations: {}
        tool_label: 宿主机磁盘使用率(百分比,不含rootfs)
        tool_name: 宿主机磁盘使用率(百分比,不含rootfs)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          node:
            type: mixed
            value: '{{#1744959389144.nodeName#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '17438441946260'
      position:
        x: 2757
        y: 1312
      positionAbsolute:
        x: 2757
        y: 1312
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: e6cd8761-43fc-4d1d-bc3e-898643d986f3
            value: ''
            varType: string
            variable_selector:
            - '1744959389144'
            - nodeName
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: Is nodeName empty
        type: if-else
      height: 124
      id: '17438442246820'
      position:
        x: 3060
        y: 1830
      positionAbsolute:
        x: 3060
        y: 1830
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1743847092222'
          - output
          variable: output
        selected: false
        title: inadequate conditions
        type: end
      height: 88
      id: '1743844231109'
      position:
        x: 3666
        y: 1644
      positionAbsolute:
        x: 3666
        y: 1644
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: Not
        - id: '2'
          name: 'Yes'
        desc: ''
        instruction: '# 目的

          根据相关指标的数值判断该指标是否出现异常


          # 判断思路

          根据告警{{#1743576019537.alertName#}}和指标值{{#17438441946260.text#}}判断该指标是否在某一时刻飙升


          '
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - '17438441946260'
        - text
        selected: false
        title: Is disk i/o utilization abnormal
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 166
      id: '1743846657026'
      position:
        x: 3060
        y: 1312
      positionAbsolute:
        x: 3060
        y: 1312
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        template: nodeName is empty, can not analyze.
        title: inadequate conditions
        type: template-transform
        variables: []
      height: 52
      id: '1743847092222'
      position:
        x: 3363
        y: 1698
      positionAbsolute:
        x: 3363
        y: 1698
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器磁盘写入耗时每秒(使用Containerd,按Pod和容器统计)
        tool_configurations: {}
        tool_label: 容器磁盘写入耗时每秒(使用Containerd,按Pod和容器统计)
        tool_name: 容器磁盘写入耗时每秒(使用Containerd,按Pod和容器统计)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743847425675'
      position:
        x: 3969
        y: 1955.5
      positionAbsolute:
        x: 3969
        y: 1955.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Specified host name
            ja_JP: Specified host name
            pt_BR: Specified host name
            zh_Hans: 指定的主机名
          label:
            en_US: node
            ja_JP: node
            pt_BR: node
            zh_Hans: node
          llm_description: Specified host name
          max: null
          min: null
          name: node
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          endTime: ''
          node: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 宿主机当前打开文件描述符数
        tool_configurations: {}
        tool_label: 宿主机当前打开文件描述符数
        tool_name: host_cpu_fd_open
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          node:
            type: mixed
            value: '{{#1744959389144.nodeName#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743847618976'
      position:
        x: 3666
        y: 2033
      positionAbsolute:
        x: 3666
        y: 2033
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器磁盘读取耗时每秒(使用Containerd,按Pod和容器统计)
        tool_configurations: {}
        tool_label: 容器磁盘读取耗时每秒(使用Containerd,按Pod和容器统计)
        tool_name: 容器磁盘读取耗时每秒(使用Containerd,按Pod和容器统计)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743847703261'
      position:
        x: 3969
        y: 2047.5
      positionAbsolute:
        x: 3969
        y: 2047.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器网络接收错误包数(按命名空间和Pod统计)
        tool_configurations: {}
        tool_label: 容器网络接收错误包数(按命名空间和Pod统计)
        tool_name: 容器网络接收错误包数(按命名空间和Pod统计)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743848302527'
      position:
        x: 3969
        y: 1438.5
      positionAbsolute:
        x: 3969
        y: 1438.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器网络发送错误包数(按命名空间和Pod统计)
        tool_configurations: {}
        tool_label: 容器网络发送错误包数(按命名空间和Pod统计)
        tool_name: 容器网络发送错误包数(按命名空间和Pod统计)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743848306370'
      position:
        x: 3969
        y: 1530.5
      positionAbsolute:
        x: 3969
        y: 1530.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器网络接收丢包数(按命名空间和Pod统计)
        tool_configurations: {}
        tool_label: 容器网络接收丢包数(按命名空间和Pod统计)
        tool_name: 容器网络接收丢包数(按命名空间和Pod统计)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743848316998'
      position:
        x: 3969
        y: 1622.5
      positionAbsolute:
        x: 3969
        y: 1622.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器网络发送丢包数(按命名空间和Pod统计)
        tool_configurations: {}
        tool_label: 容器网络发送丢包数(按命名空间和Pod统计)
        tool_name: 容器网络发送丢包数(按命名空间和Pod统计)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743848323475'
      position:
        x: 3969
        y: 1714.5
      positionAbsolute:
        x: 3969
        y: 1714.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 5426b9f0-37c8-45b7-9faa-49695110dc7d
          role: system
          text: You are an intelligent assistant and troubleshooting expert in the
            observability domain, assisting users in analyzing the reasons behind
            alerts.
        - id: 394f3fde-0d44-43dc-9c6d-6737b88c199d
          role: user
          text: '# Objective

            Based on the relevant metric results, analyze the correctness or cause
            of the alert {{#1744959389144.alertName#}}, identify the suspected root
            cause container, and provide appropriate resolution strategies.


            # Analysis Process

            The host''s CPU IO wait is abnormal, but the host''s disk IO utilization
            is within normal ranges. Therefore, analyze relevant network metrics to
            determine if the CPU IO wait anomaly is caused by network issues.

            1. Analyze metric data, with each set including the instance with the
            highest average anomaly point and the instance with the highest anomaly
            growth rate. Instances with abnormal received error packets {{#17458959866650.top_abnormal_means#}}{{#17458959866650.top_abnormal_growths#}},
            abnormal sent error packets {{#17458959892670.top_abnormal_means#}}{{#17458959903430.top_abnormal_growths#}},
            abnormal received packet loss {{#17458959903430.top_abnormal_means#}}{{#17458959903430.top_abnormal_growths#}},
            and abnormal sent packet loss {{#17458959879420.top_abnormal_means#}}{{#17458959879420.top_abnormal_growths#}}.
            Identify containers with surging values; ignore if values are within normal
            ranges.

            2. If all relevant metrics are within normal ranges, consider other potential
            causes for the CPU IO wait anomaly, such as slow remote storage response,
            increased network latency, or slow remote database queries.


            # Output

            - If the relevant values are within normal ranges, provide other inferred
            reasons for the alert.

            - If the relevant values are abnormal, provide all suspected root cause
            containers, suspected reasons, and recommended solutions. Format: The
            root cause of the alert {{#1744959389144.alertName#}} is suspected to
            be the xx container, potentially due to xx issue, with recommended solution
            xx.'
        selected: false
        title: net analyze
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '17438483761510'
      position:
        x: 4878
        y: 1404
      positionAbsolute:
        x: 4878
        y: 1404
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1743850218410'
          - output
          variable: text
        selected: false
        title: result
        type: end
      height: 88
      id: '17438490239160'
      position:
        x: 5484
        y: 1404
      positionAbsolute:
        x: 5484
        y: 1404
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 5426b9f0-37c8-45b7-9faa-49695110dc7d
          role: system
          text: You are an intelligent assistant and troubleshooting expert in the
            observability domain, assisting users in analyzing the reasons behind
            alerts.
        - id: 394f3fde-0d44-43dc-9c6d-6737b88c199d
          role: user
          text: '# Objective

            Based on the relevant metric results, analyze the correctness or cause
            of the alert {{#1744959389144.alertName#}}, identify the suspected root
            cause container, and provide appropriate resolution strategies.


            # Analysis Process

            The host''s CPU IO wait is abnormal, and disk IO utilization is high.
            Therefore, analyze relevant disk metrics to determine if the CPU IO wait
            anomaly is caused by container-related issues.

            1. Analyze metric data, each including two datasets: 1. Instances with
            the highest average anomaly values, 2. Instances with the highest average
            anomaly growth rates. Instances with abnormal container disk read latency
            {{#17459056426090.top_abnormal_means#}}{{#17459056426090.top_abnormal_growths#}}
            and abnormal container disk write operations {{#17459056606540.top_abnormal_means#}}{{#17459056606540.top_abnormal_growths#}}.
            Identify containers with surging values; ignore if values are within normal
            ranges.

            2. If all relevant metrics are within normal ranges, consider other potential
            causes for the CPU IO wait anomaly, such as slow remote storage response,
            increased network latency, or slow remote database queries.


            # Output

            - If the relevant values are within normal ranges, provide other inferred
            reasons for the alert.

            - If the relevant values are abnormal, provide all suspected root cause
            containers, suspected reasons, and recommended solutions. Format: The
            root cause of the alert {{#1744959389144.alertName#}} is suspected to
            be the xx container, potentially due to xx issue, with recommended solution
            xx.'
        selected: false
        title: disk analyze
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '17438490633890'
      position:
        x: 4878
        y: 1829
      positionAbsolute:
        x: 4878
        y: 1829
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Prometheus job name for host metrics
            ja_JP: Prometheus job name for host metrics
            pt_BR: Prometheus job name for host metrics
            zh_Hans: Prometheus任务名称（宿主机指标）
          label:
            en_US: Prometheus Job
            ja_JP: Prometheus Job
            pt_BR: Tarefa Prometheus
            zh_Hans: Prometheus任务
          llm_description: Unique identifier for metrics scrape job
          max: null
          min: null
          name: job
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Host node identifier
            ja_JP: Host node identifier
            pt_BR: Host node identifier
            zh_Hans: 宿主机节点标识
          label:
            en_US: Host Node
            ja_JP: Host Node
            pt_BR: Host Node
            zh_Hans: 宿主机节点
          llm_description: Unique identifier for host node
          max: null
          min: null
          name: node
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          endTime: ''
          job: ''
          node: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 查询宿主机SWAP使用率
        tool_configurations: {}
        tool_label: 查询宿主机SWAP使用率
        tool_name: 查询宿主机SWAP使用率
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          job:
            type: mixed
            value: .*
          node:
            type: mixed
            value: '{{#1744959389144.nodeName#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743849441196'
      position:
        x: 3363
        y: 1865
      positionAbsolute:
        x: 3363
        y: 1865
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        classes:
        - id: '1'
          name: 是
        - id: '2'
          name: 否
        desc: ''
        instruction: '# 目的

          根据相关指标的数值判断该指标是否出现异常


          # 判断思路

          根据告警{{#1743576019537.alertName#}}和指标值{{#1743849441196.text#}}判断该指标是否在某一时刻飙升


          '
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        query_variable_selector:
        - '1743849441196'
        - text
        selected: false
        title: Is SWAP abnormal
        topics: []
        type: question-classifier
        vision:
          enabled: false
      height: 166
      id: '17438494733730'
      position:
        x: 3666
        y: 1772
      positionAbsolute:
        x: 3666
        y: 1772
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          label:
            en_US: cAdvisor job name
            ja_JP: cAdvisor job name
            pt_BR: cAdvisor job name
            zh_Hans: cAdvisor任务名称
          llm_description: cAdvisor job name
          max: null
          min: null
          name: cadvisor_job_name
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          label:
            en_US: Namespace
            ja_JP: Namespace
            pt_BR: Namespace
            zh_Hans: 命名空间
          llm_description: Namespace
          max: null
          min: null
          name: namespace
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          label:
            en_US: Pod name
            ja_JP: Pod name
            pt_BR: Pod name
            zh_Hans: Pod名称
          llm_description: Pod name
          max: null
          min: null
          name: pod
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          cadvisor_job_name: ''
          endTime: ''
          namespace: ''
          pod: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 容器内存使用字节数(使用Containerd容器运行时,按容器和Pod统计)
        tool_configurations: {}
        tool_label: 容器内存使用字节数(使用Containerd容器运行时,按容器和Pod统计)
        tool_name: 容器内存使用字节数(使用Containerd容器运行时,按容器和Pod统计)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          namespace:
            type: mixed
            value: '{{#1743670061370.result#}}'
          pod:
            type: mixed
            value: '{{#1743670099979.result#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743849875119'
      position:
        x: 3969
        y: 2139.5
      positionAbsolute:
        x: 3969
        y: 2139.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: deepseek-chat
          provider: langgenius/deepseek/deepseek
        prompt_template:
        - id: 5426b9f0-37c8-45b7-9faa-49695110dc7d
          role: system
          text: You are an intelligent assistant and troubleshooting expert in the
            observability domain, assisting users in analyzing the reasons behind
            alerts.
        - id: 394f3fde-0d44-43dc-9c6d-6737b88c199d
          role: user
          text: '# Objective

            Based on the relevant metric results, analyze the correctness or cause
            of the alert {{#1744959389144.alertName#}}, identify the suspected root
            cause container, and provide appropriate resolution strategies.


            # Analysis Process

            The host''s CPU IO wait is abnormal, with a preliminary inference that
            it is caused by insufficient SWAP space. Therefore, analyze relevant metrics
            to determine if the CPU IO wait anomaly is due to memory-related issues.

            1. Analyze metric data for instances with the highest average anomaly
            values {{#17459186208040.top_abnormal_means#}} and instances with the
            highest anomaly growth rates {{#17459186208040.top_abnormal_growths#}}.
            Identify containers with surging values; ignore if values are within normal
            ranges.

            2. If all relevant metrics are within normal ranges, consider other potential
            causes for the CPU IO wait anomaly, such as excessive kernel memory usage,
            cache invalidation, or memory fragmentation.


            # Output

            - If the relevant values are within normal ranges, provide other inferred
            reasons for the alert.

            - If the relevant values are abnormal, provide all suspected root cause
            containers, suspected reasons, and recommended solutions. Format: The
            root cause of the alert {{#1744959389144.alertName#}} is suspected to
            be the xx container, potentially due to xx issue, with recommended solution
            xx.'
        selected: false
        title: Memory analyze
        type: llm
        variables: []
        vision:
          enabled: false
      height: 88
      id: '17438498987710'
      position:
        x: 4878
        y: 2013
      positionAbsolute:
        x: 4878
        y: 2013
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        output_type: string
        selected: false
        title: Integration of inferred results
        type: variable-aggregator
        variables:
        - - '1743673613633'
          - text
        - - '17438490633890'
          - text
        - - '17438498987710'
          - text
        - - '17438483761510'
          - text
      height: 173
      id: '1743850218410'
      position:
        x: 5181
        y: 1404
      positionAbsolute:
        x: 5181
        y: 1404
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Specified host name
            ja_JP: Specified host name
            pt_BR: Specified host name
            zh_Hans: 指定的主机名
          label:
            en_US: node
            ja_JP: node
            pt_BR: node
            zh_Hans: node
          llm_description: Specified host name
          max: null
          min: null
          name: node
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time(Microsecond)
            ja_JP: Data query start time(Microsecond)
            pt_BR: Data query start time(Microsecond)
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time(Microsecond)
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time(Microsecond)
            ja_JP: Data query end time(Microsecond)
            pt_BR: Data query end time(Microsecond)
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query end time(Microsecond)
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          endTime: ''
          node: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 宿主机磁盘使用率(百分比,不含rootfs)
        tool_configurations: {}
        tool_label: 宿主机磁盘使用率(百分比,不含rootfs)
        tool_name: 宿主机磁盘使用率(百分比,不含rootfs)
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1743576019537'
            - endTime
          node:
            type: mixed
            value: '{{#1744959389144.nodeName#}}'
          startTime:
            type: variable
            value:
            - '1743576019537'
            - startTime
        type: tool
      height: 52
      id: '1743850453842'
      position:
        x: 3666
        y: 2217
      positionAbsolute:
        x: 3666
        y: 2217
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "  \ndef get_value(data, keys): \n  for key in keys: \n    value = data.get(key)\
          \ \n    if value is not None: \n      return value \n  return \"\" \n\n\
          import json \n\ndef main(arg: str) -> dict:\n  data = json.loads(arg) \n\
          \  return { \n   \"alertName\": get_value(data, [\"alertName\"]),      \n\
          #   \"service\": get_value(data, [\"svc_name\", \"service\"]), \n#   \"\
          endpoint\": get_value(data,[\"endpoint\", \"content_key\"]), \n  \"pod\"\
          : get_value(data,[\"pod\", \"src_pod\", \"pod_name\"]), \n  \"namespace\"\
          : get_value(data,[\"namespace\", \"src_namespace\"]), \n  \"nodeName\":\
          \ get_value(data, [\"nodename\", \"node_name\", \"nodeName\"])\n}"
        code_language: python3
        desc: ''
        outputs:
          alertName:
            children: null
            type: string
          namespace:
            children: null
            type: string
          nodeName:
            children: null
            type: string
          pod:
            children: null
            type: string
        selected: false
        title: GET PARAMS
        type: code
        variables:
        - value_selector:
          - '1743576019537'
          - params
          variable: arg
      height: 52
      id: '1744959389144'
      position:
        x: 333
        y: 353
      positionAbsolute:
        x: 333
        y: 353
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          label:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          llm_description: Metrics query result
          max: null
          min: null
          name: result
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          result: ''
        provider_id: apo_analysis
        provider_name: apo_analysis
        provider_type: builtin
        selected: false
        title: 分析图表的异常样本
        tool_configurations: {}
        tool_label: 分析图表的异常样本
        tool_name: abnormal charts
        tool_parameters:
          result:
            type: mixed
            value: '{{#1743673518843.output#}}'
        type: tool
      height: 52
      id: '1745224561449'
      position:
        x: 4272
        y: 923
      positionAbsolute:
        x: 4272
        y: 923
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          label:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          llm_description: Metrics query result
          max: null
          min: null
          name: result
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          result: ''
        provider_id: apo_analysis
        provider_name: apo_analysis
        provider_type: builtin
        selected: false
        title: 分析图表的异常样本
        tool_configurations: {}
        tool_label: 分析图表的异常样本
        tool_name: abnormal charts
        tool_parameters:
          result:
            type: mixed
            value: '{{#1743848302527.text#}}'
        type: tool
      height: 52
      id: '1745228455097'
      position:
        x: 4272
        y: 1312
      positionAbsolute:
        x: 4272
        y: 1312
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          label:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          llm_description: Metrics query result
          max: null
          min: null
          name: result
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          result: ''
        provider_id: apo_analysis
        provider_name: apo_analysis
        provider_type: builtin
        selected: false
        title: 分析图表的异常样本
        tool_configurations: {}
        tool_label: 分析图表的异常样本
        tool_name: abnormal charts
        tool_parameters:
          result:
            type: mixed
            value: '{{#1743848306370.text#}}'
        type: tool
      height: 52
      id: '1745228463913'
      position:
        x: 4272
        y: 1404
      positionAbsolute:
        x: 4272
        y: 1404
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          label:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          llm_description: Metrics query result
          max: null
          min: null
          name: result
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          result: ''
        provider_id: apo_analysis
        provider_name: apo_analysis
        provider_type: builtin
        selected: false
        title: 分析图表的异常样本
        tool_configurations: {}
        tool_label: 分析图表的异常样本
        tool_name: abnormal charts
        tool_parameters:
          result:
            type: mixed
            value: '{{#1743848316998.text#}}'
        type: tool
      height: 52
      id: '1745228471960'
      position:
        x: 4272
        y: 1496
      positionAbsolute:
        x: 4272
        y: 1496
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          label:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          llm_description: Metrics query result
          max: null
          min: null
          name: result
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          result: ''
        provider_id: apo_analysis
        provider_name: apo_analysis
        provider_type: builtin
        selected: false
        title: 分析图表的异常样本
        tool_configurations: {}
        tool_label: 分析图表的异常样本
        tool_name: abnormal charts
        tool_parameters:
          result:
            type: mixed
            value: '{{#1743848323475.text#}}'
        type: tool
      height: 52
      id: '1745228478308'
      position:
        x: 4272
        y: 1588
      positionAbsolute:
        x: 4272
        y: 1588
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          label:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          llm_description: Metrics query result
          max: null
          min: null
          name: result
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          result: ''
        provider_id: apo_analysis
        provider_name: apo_analysis
        provider_type: builtin
        selected: false
        title: 分析图表的异常样本
        tool_configurations: {}
        tool_label: 分析图表的异常样本
        tool_name: abnormal charts
        tool_parameters:
          result:
            type: mixed
            value: '{{#1743847425675.text#}}'
        type: tool
      height: 52
      id: '1745228513830'
      position:
        x: 4272
        y: 1829
      positionAbsolute:
        x: 4272
        y: 1829
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          label:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          llm_description: Metrics query result
          max: null
          min: null
          name: result
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          result: ''
        provider_id: apo_analysis
        provider_name: apo_analysis
        provider_type: builtin
        selected: false
        title: 分析图表的异常样本
        tool_configurations: {}
        tool_label: 分析图表的异常样本
        tool_name: abnormal charts
        tool_parameters:
          result:
            type: mixed
            value: '{{#1743847703261.text#}}'
        type: tool
      height: 52
      id: '1745228520609'
      position:
        x: 4272
        y: 1921
      positionAbsolute:
        x: 4272
        y: 1921
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          label:
            en_US: 指标查询结果
            ja_JP: 指标查询结果
            pt_BR: 指标查询结果
            zh_Hans: Metrics query result
          llm_description: Metrics query result
          max: null
          min: null
          name: result
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        params:
          result: ''
        provider_id: apo_analysis
        provider_name: apo_analysis
        provider_type: builtin
        selected: false
        title: 分析图表的异常样本
        tool_configurations: {}
        tool_label: 分析图表的异常样本
        tool_name: abnormal charts
        tool_parameters:
          result:
            type: mixed
            value: '{{#1743849875119.text#}}'
        type: tool
      height: 52
      id: '1745228528400'
      position:
        x: 4272
        y: 2013
      positionAbsolute:
        x: 4272
        y: 2013
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\ndef main(data_json):\n    data = json.loads(data_json)\n\
          \    for instance in data:\n        chart = instance['chart']\n        abnormal_count\
          \ = instance['abnormalCount']\n        \n        # 计算abnormal_mean\n   \
          \     sorted_values = sorted(chart.values(), reverse=True)\n        top_abnormal_values\
          \ = sorted_values[:abnormal_count]\n        mean_abnormal = sum(top_abnormal_values)\
          \ / abnormal_count if abnormal_count > 0 else 0\n        instance[\"abnormal_mean\"\
          ] = mean_abnormal\n        \n        # 计算abnormal_avg_growth\n        sorted_timestamps\
          \ = sorted(chart.keys())  # 按时间戳升序排列\n        time_to_index = {t: idx for\
          \ idx, t in enumerate(sorted_timestamps)}\n        # 获取abnormal_count个异常点，按值降序排列\n\
          \        abnormal_entries = sorted(chart.items(), key=lambda x: -x[1])[:abnormal_count]\n\
          \        \n        growth_rates = []\n        for timestamp, value in abnormal_entries:\n\
          \            idx = time_to_index[timestamp]\n            prev_value = None\n\
          \            # 向前查找第一个非零值\n            for j in range(idx - 1, -1, -1):\n\
          \                prev_val = chart[sorted_timestamps[j]]\n              \
          \  if prev_val != 0:\n                    prev_value = prev_val\n      \
          \              break\n            if prev_value is not None:\n         \
          \       growth_rate = (value - prev_value) / prev_value\n              \
          \  growth_rates.append(growth_rate)\n        \n        avg_growth = sum(growth_rates)\
          \ / len(growth_rates) if growth_rates else 0\n        instance[\"abnormal_avg_growth\"\
          ] = avg_growth\n    \n    # 按abnormal_mean降序取前3\n    top_abnormal_means\
          \ = sorted(data, key=lambda x: x['abnormal_mean'], reverse=True)[:3]\n \
          \   # 按abnormal_avg_growth降序取前3\n    top_abnormal_growths = sorted(data,\
          \ key=lambda x: x['abnormal_avg_growth'], reverse=True)[:3]\n    \n    return\
          \ {\n        \"top_abnormal_means\": json.dumps(top_abnormal_means),\n \
          \       \"top_abnormal_growths\": json.dumps(top_abnormal_growths)\n   \
          \ }"
        code_language: python3
        desc: ''
        outputs:
          top_abnormal_growths:
            children: null
            type: string
          top_abnormal_means:
            children: null
            type: string
        selected: false
        title: Get abnormal instance
        type: code
        variables:
        - value_selector:
          - '1745224561449'
          - text
          variable: data_json
      height: 52
      id: '1745894017978'
      position:
        x: 4575
        y: 923
      positionAbsolute:
        x: 4575
        y: 923
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\ndef main(data_json):\n    data = json.loads(data_json)\n\
          \    for instance in data:\n        chart = instance['chart']\n        abnormal_count\
          \ = instance['abnormalCount']\n        \n        # 计算abnormal_mean\n   \
          \     sorted_values = sorted(chart.values(), reverse=True)\n        top_abnormal_values\
          \ = sorted_values[:abnormal_count]\n        mean_abnormal = sum(top_abnormal_values)\
          \ / abnormal_count if abnormal_count > 0 else 0\n        instance[\"abnormal_mean\"\
          ] = mean_abnormal\n        \n        # 计算abnormal_avg_growth\n        sorted_timestamps\
          \ = sorted(chart.keys())  # 按时间戳升序排列\n        time_to_index = {t: idx for\
          \ idx, t in enumerate(sorted_timestamps)}\n        # 获取abnormal_count个异常点，按值降序排列\n\
          \        abnormal_entries = sorted(chart.items(), key=lambda x: -x[1])[:abnormal_count]\n\
          \        \n        growth_rates = []\n        for timestamp, value in abnormal_entries:\n\
          \            idx = time_to_index[timestamp]\n            prev_value = None\n\
          \            # 向前查找第一个非零值\n            for j in range(idx - 1, -1, -1):\n\
          \                prev_val = chart[sorted_timestamps[j]]\n              \
          \  if prev_val != 0:\n                    prev_value = prev_val\n      \
          \              break\n            if prev_value is not None:\n         \
          \       growth_rate = (value - prev_value) / prev_value\n              \
          \  growth_rates.append(growth_rate)\n        \n        avg_growth = sum(growth_rates)\
          \ / len(growth_rates) if growth_rates else 0\n        instance[\"abnormal_avg_growth\"\
          ] = avg_growth\n    \n    # 按abnormal_mean降序取前3\n    top_abnormal_means\
          \ = sorted(data, key=lambda x: x['abnormal_mean'], reverse=True)[:3]\n \
          \   # 按abnormal_avg_growth降序取前3\n    top_abnormal_growths = sorted(data,\
          \ key=lambda x: x['abnormal_avg_growth'], reverse=True)[:3]\n    \n    return\
          \ {\n        \"top_abnormal_means\": json.dumps(top_abnormal_means),\n \
          \       \"top_abnormal_growths\": json.dumps(top_abnormal_growths)\n   \
          \ }"
        code_language: python3
        desc: ''
        outputs:
          top_abnormal_growths:
            children: null
            type: string
          top_abnormal_means:
            children: null
            type: string
        selected: false
        title: Get abnormal instance
        type: code
        variables:
        - value_selector:
          - '1745228455097'
          - text
          variable: data_json
      height: 52
      id: '17458959866650'
      position:
        x: 4575
        y: 1312
      positionAbsolute:
        x: 4575
        y: 1312
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\ndef main(data_json):\n    data = json.loads(data_json)\n\
          \    for instance in data:\n        chart = instance['chart']\n        abnormal_count\
          \ = instance['abnormalCount']\n        \n        # 计算abnormal_mean\n   \
          \     sorted_values = sorted(chart.values(), reverse=True)\n        top_abnormal_values\
          \ = sorted_values[:abnormal_count]\n        mean_abnormal = sum(top_abnormal_values)\
          \ / abnormal_count if abnormal_count > 0 else 0\n        instance[\"abnormal_mean\"\
          ] = mean_abnormal\n        \n        # 计算abnormal_avg_growth\n        sorted_timestamps\
          \ = sorted(chart.keys())  # 按时间戳升序排列\n        time_to_index = {t: idx for\
          \ idx, t in enumerate(sorted_timestamps)}\n        # 获取abnormal_count个异常点，按值降序排列\n\
          \        abnormal_entries = sorted(chart.items(), key=lambda x: -x[1])[:abnormal_count]\n\
          \        \n        growth_rates = []\n        for timestamp, value in abnormal_entries:\n\
          \            idx = time_to_index[timestamp]\n            prev_value = None\n\
          \            # 向前查找第一个非零值\n            for j in range(idx - 1, -1, -1):\n\
          \                prev_val = chart[sorted_timestamps[j]]\n              \
          \  if prev_val != 0:\n                    prev_value = prev_val\n      \
          \              break\n            if prev_value is not None:\n         \
          \       growth_rate = (value - prev_value) / prev_value\n              \
          \  growth_rates.append(growth_rate)\n        \n        avg_growth = sum(growth_rates)\
          \ / len(growth_rates) if growth_rates else 0\n        instance[\"abnormal_avg_growth\"\
          ] = avg_growth\n    \n    # 按abnormal_mean降序取前3\n    top_abnormal_means\
          \ = sorted(data, key=lambda x: x['abnormal_mean'], reverse=True)[:3]\n \
          \   # 按abnormal_avg_growth降序取前3\n    top_abnormal_growths = sorted(data,\
          \ key=lambda x: x['abnormal_avg_growth'], reverse=True)[:3]\n    \n    return\
          \ {\n        \"top_abnormal_means\": json.dumps(top_abnormal_means),\n \
          \       \"top_abnormal_growths\": json.dumps(top_abnormal_growths)\n   \
          \ }"
        code_language: python3
        desc: ''
        outputs:
          top_abnormal_growths:
            children: null
            type: string
          top_abnormal_means:
            children: null
            type: string
        selected: false
        title: Get abnormal instance
        type: code
        variables:
        - value_selector:
          - '1745228478308'
          - text
          variable: data_json
      height: 52
      id: '17458959879420'
      position:
        x: 4575
        y: 1588
      positionAbsolute:
        x: 4575
        y: 1588
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\ndef main(data_json):\n    data = json.loads(data_json)\n\
          \    for instance in data:\n        chart = instance['chart']\n        abnormal_count\
          \ = instance['abnormalCount']\n        \n        # 计算abnormal_mean\n   \
          \     sorted_values = sorted(chart.values(), reverse=True)\n        top_abnormal_values\
          \ = sorted_values[:abnormal_count]\n        mean_abnormal = sum(top_abnormal_values)\
          \ / abnormal_count if abnormal_count > 0 else 0\n        instance[\"abnormal_mean\"\
          ] = mean_abnormal\n        \n        # 计算abnormal_avg_growth\n        sorted_timestamps\
          \ = sorted(chart.keys())  # 按时间戳升序排列\n        time_to_index = {t: idx for\
          \ idx, t in enumerate(sorted_timestamps)}\n        # 获取abnormal_count个异常点，按值降序排列\n\
          \        abnormal_entries = sorted(chart.items(), key=lambda x: -x[1])[:abnormal_count]\n\
          \        \n        growth_rates = []\n        for timestamp, value in abnormal_entries:\n\
          \            idx = time_to_index[timestamp]\n            prev_value = None\n\
          \            # 向前查找第一个非零值\n            for j in range(idx - 1, -1, -1):\n\
          \                prev_val = chart[sorted_timestamps[j]]\n              \
          \  if prev_val != 0:\n                    prev_value = prev_val\n      \
          \              break\n            if prev_value is not None:\n         \
          \       growth_rate = (value - prev_value) / prev_value\n              \
          \  growth_rates.append(growth_rate)\n        \n        avg_growth = sum(growth_rates)\
          \ / len(growth_rates) if growth_rates else 0\n        instance[\"abnormal_avg_growth\"\
          ] = avg_growth\n    \n    # 按abnormal_mean降序取前3\n    top_abnormal_means\
          \ = sorted(data, key=lambda x: x['abnormal_mean'], reverse=True)[:3]\n \
          \   # 按abnormal_avg_growth降序取前3\n    top_abnormal_growths = sorted(data,\
          \ key=lambda x: x['abnormal_avg_growth'], reverse=True)[:3]\n    \n    return\
          \ {\n        \"top_abnormal_means\": json.dumps(top_abnormal_means),\n \
          \       \"top_abnormal_growths\": json.dumps(top_abnormal_growths)\n   \
          \ }"
        code_language: python3
        desc: ''
        outputs:
          top_abnormal_growths:
            children: null
            type: string
          top_abnormal_means:
            children: null
            type: string
        selected: false
        title: Get abnormal instance
        type: code
        variables:
        - value_selector:
          - '1745228463913'
          - text
          variable: data_json
      height: 52
      id: '17458959892670'
      position:
        x: 4575
        y: 1404
      positionAbsolute:
        x: 4575
        y: 1404
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\ndef main(data_json):\n    data = json.loads(data_json)\n\
          \    for instance in data:\n        chart = instance['chart']\n        abnormal_count\
          \ = instance['abnormalCount']\n        \n        # 计算abnormal_mean\n   \
          \     sorted_values = sorted(chart.values(), reverse=True)\n        top_abnormal_values\
          \ = sorted_values[:abnormal_count]\n        mean_abnormal = sum(top_abnormal_values)\
          \ / abnormal_count if abnormal_count > 0 else 0\n        instance[\"abnormal_mean\"\
          ] = mean_abnormal\n        \n        # 计算abnormal_avg_growth\n        sorted_timestamps\
          \ = sorted(chart.keys())  # 按时间戳升序排列\n        time_to_index = {t: idx for\
          \ idx, t in enumerate(sorted_timestamps)}\n        # 获取abnormal_count个异常点，按值降序排列\n\
          \        abnormal_entries = sorted(chart.items(), key=lambda x: -x[1])[:abnormal_count]\n\
          \        \n        growth_rates = []\n        for timestamp, value in abnormal_entries:\n\
          \            idx = time_to_index[timestamp]\n            prev_value = None\n\
          \            # 向前查找第一个非零值\n            for j in range(idx - 1, -1, -1):\n\
          \                prev_val = chart[sorted_timestamps[j]]\n              \
          \  if prev_val != 0:\n                    prev_value = prev_val\n      \
          \              break\n            if prev_value is not None:\n         \
          \       growth_rate = (value - prev_value) / prev_value\n              \
          \  growth_rates.append(growth_rate)\n        \n        avg_growth = sum(growth_rates)\
          \ / len(growth_rates) if growth_rates else 0\n        instance[\"abnormal_avg_growth\"\
          ] = avg_growth\n    \n    # 按abnormal_mean降序取前3\n    top_abnormal_means\
          \ = sorted(data, key=lambda x: x['abnormal_mean'], reverse=True)[:3]\n \
          \   # 按abnormal_avg_growth降序取前3\n    top_abnormal_growths = sorted(data,\
          \ key=lambda x: x['abnormal_avg_growth'], reverse=True)[:3]\n    \n    return\
          \ {\n        \"top_abnormal_means\": json.dumps(top_abnormal_means),\n \
          \       \"top_abnormal_growths\": json.dumps(top_abnormal_growths)\n   \
          \ }"
        code_language: python3
        desc: ''
        outputs:
          top_abnormal_growths:
            children: null
            type: string
          top_abnormal_means:
            children: null
            type: string
        selected: false
        title: Get abnormal instance
        type: code
        variables:
        - value_selector:
          - '1745228471960'
          - text
          variable: data_json
      height: 52
      id: '17458959903430'
      position:
        x: 4575
        y: 1496
      positionAbsolute:
        x: 4575
        y: 1496
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\ndef main(data_json):\n    data = json.loads(data_json)\n\
          \    for instance in data:\n        chart = instance['chart']\n        abnormal_count\
          \ = instance['abnormalCount']\n        \n        # 计算abnormal_mean\n   \
          \     sorted_values = sorted(chart.values(), reverse=True)\n        top_abnormal_values\
          \ = sorted_values[:abnormal_count]\n        mean_abnormal = sum(top_abnormal_values)\
          \ / abnormal_count if abnormal_count > 0 else 0\n        instance[\"abnormal_mean\"\
          ] = mean_abnormal\n        \n        # 计算abnormal_avg_growth\n        sorted_timestamps\
          \ = sorted(chart.keys())  # 按时间戳升序排列\n        time_to_index = {t: idx for\
          \ idx, t in enumerate(sorted_timestamps)}\n        # 获取abnormal_count个异常点，按值降序排列\n\
          \        abnormal_entries = sorted(chart.items(), key=lambda x: -x[1])[:abnormal_count]\n\
          \        \n        growth_rates = []\n        for timestamp, value in abnormal_entries:\n\
          \            idx = time_to_index[timestamp]\n            prev_value = None\n\
          \            # 向前查找第一个非零值\n            for j in range(idx - 1, -1, -1):\n\
          \                prev_val = chart[sorted_timestamps[j]]\n              \
          \  if prev_val != 0:\n                    prev_value = prev_val\n      \
          \              break\n            if prev_value is not None:\n         \
          \       growth_rate = (value - prev_value) / prev_value\n              \
          \  growth_rates.append(growth_rate)\n        \n        avg_growth = sum(growth_rates)\
          \ / len(growth_rates) if growth_rates else 0\n        instance[\"abnormal_avg_growth\"\
          ] = avg_growth\n    \n    # 按abnormal_mean降序取前3\n    top_abnormal_means\
          \ = sorted(data, key=lambda x: x['abnormal_mean'], reverse=True)[:3]\n \
          \   # 按abnormal_avg_growth降序取前3\n    top_abnormal_growths = sorted(data,\
          \ key=lambda x: x['abnormal_avg_growth'], reverse=True)[:3]\n    \n    return\
          \ {\n        \"top_abnormal_means\": json.dumps(top_abnormal_means),\n \
          \       \"top_abnormal_growths\": json.dumps(top_abnormal_growths)\n   \
          \ }"
        code_language: python3
        desc: ''
        outputs:
          top_abnormal_growths:
            children: null
            type: string
          top_abnormal_means:
            children: null
            type: string
        selected: false
        title: Get abnormal instance
        type: code
        variables:
        - value_selector:
          - '1745228520609'
          - text
          variable: data_json
      height: 52
      id: '17459056426090'
      position:
        x: 4575
        y: 1921
      positionAbsolute:
        x: 4575
        y: 1921
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\ndef main(data_json):\n    data = json.loads(data_json)\n\
          \    for instance in data:\n        chart = instance['chart']\n        abnormal_count\
          \ = instance['abnormalCount']\n        \n        # 计算abnormal_mean\n   \
          \     sorted_values = sorted(chart.values(), reverse=True)\n        top_abnormal_values\
          \ = sorted_values[:abnormal_count]\n        mean_abnormal = sum(top_abnormal_values)\
          \ / abnormal_count if abnormal_count > 0 else 0\n        instance[\"abnormal_mean\"\
          ] = mean_abnormal\n        \n        # 计算abnormal_avg_growth\n        sorted_timestamps\
          \ = sorted(chart.keys())  # 按时间戳升序排列\n        time_to_index = {t: idx for\
          \ idx, t in enumerate(sorted_timestamps)}\n        # 获取abnormal_count个异常点，按值降序排列\n\
          \        abnormal_entries = sorted(chart.items(), key=lambda x: -x[1])[:abnormal_count]\n\
          \        \n        growth_rates = []\n        for timestamp, value in abnormal_entries:\n\
          \            idx = time_to_index[timestamp]\n            prev_value = None\n\
          \            # 向前查找第一个非零值\n            for j in range(idx - 1, -1, -1):\n\
          \                prev_val = chart[sorted_timestamps[j]]\n              \
          \  if prev_val != 0:\n                    prev_value = prev_val\n      \
          \              break\n            if prev_value is not None:\n         \
          \       growth_rate = (value - prev_value) / prev_value\n              \
          \  growth_rates.append(growth_rate)\n        \n        avg_growth = sum(growth_rates)\
          \ / len(growth_rates) if growth_rates else 0\n        instance[\"abnormal_avg_growth\"\
          ] = avg_growth\n    \n    # 按abnormal_mean降序取前3\n    top_abnormal_means\
          \ = sorted(data, key=lambda x: x['abnormal_mean'], reverse=True)[:3]\n \
          \   # 按abnormal_avg_growth降序取前3\n    top_abnormal_growths = sorted(data,\
          \ key=lambda x: x['abnormal_avg_growth'], reverse=True)[:3]\n    \n    return\
          \ {\n        \"top_abnormal_means\": json.dumps(top_abnormal_means),\n \
          \       \"top_abnormal_growths\": json.dumps(top_abnormal_growths)\n   \
          \ }"
        code_language: python3
        desc: ''
        outputs:
          top_abnormal_growths:
            children: null
            type: string
          top_abnormal_means:
            children: null
            type: string
        selected: false
        title: Get abnormal instance
        type: code
        variables:
        - value_selector:
          - '1745228513830'
          - text
          variable: data_json
      height: 52
      id: '17459056606540'
      position:
        x: 4575
        y: 1829
      positionAbsolute:
        x: 4575
        y: 1829
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        code: "import json\ndef main(data_json):\n    data = json.loads(data_json)\n\
          \    for instance in data:\n        chart = instance['chart']\n        abnormal_count\
          \ = instance['abnormalCount']\n        \n        # 计算abnormal_mean\n   \
          \     sorted_values = sorted(chart.values(), reverse=True)\n        top_abnormal_values\
          \ = sorted_values[:abnormal_count]\n        mean_abnormal = sum(top_abnormal_values)\
          \ / abnormal_count if abnormal_count > 0 else 0\n        instance[\"abnormal_mean\"\
          ] = mean_abnormal\n        \n        # 计算abnormal_avg_growth\n        sorted_timestamps\
          \ = sorted(chart.keys())  # 按时间戳升序排列\n        time_to_index = {t: idx for\
          \ idx, t in enumerate(sorted_timestamps)}\n        # 获取abnormal_count个异常点，按值降序排列\n\
          \        abnormal_entries = sorted(chart.items(), key=lambda x: -x[1])[:abnormal_count]\n\
          \        \n        growth_rates = []\n        for timestamp, value in abnormal_entries:\n\
          \            idx = time_to_index[timestamp]\n            prev_value = None\n\
          \            # 向前查找第一个非零值\n            for j in range(idx - 1, -1, -1):\n\
          \                prev_val = chart[sorted_timestamps[j]]\n              \
          \  if prev_val != 0:\n                    prev_value = prev_val\n      \
          \              break\n            if prev_value is not None:\n         \
          \       growth_rate = (value - prev_value) / prev_value\n              \
          \  growth_rates.append(growth_rate)\n        \n        avg_growth = sum(growth_rates)\
          \ / len(growth_rates) if growth_rates else 0\n        instance[\"abnormal_avg_growth\"\
          ] = avg_growth\n    \n    # 按abnormal_mean降序取前3\n    top_abnormal_means\
          \ = sorted(data, key=lambda x: x['abnormal_mean'], reverse=True)[:3]\n \
          \   # 按abnormal_avg_growth降序取前3\n    top_abnormal_growths = sorted(data,\
          \ key=lambda x: x['abnormal_avg_growth'], reverse=True)[:3]\n    \n    return\
          \ {\n        \"top_abnormal_means\": json.dumps(top_abnormal_means),\n \
          \       \"top_abnormal_growths\": json.dumps(top_abnormal_growths)\n   \
          \ }"
        code_language: python3
        desc: ''
        outputs:
          top_abnormal_growths:
            children: null
            type: string
          top_abnormal_means:
            children: null
            type: string
        selected: false
        title: Get abnormal instance
        type: code
        variables:
        - value_selector:
          - '1745228528400'
          - text
          variable: data_json
      height: 52
      id: '17459186208040'
      position:
        x: 4575
        y: 2013
      positionAbsolute:
        x: 4575
        y: 2013
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: e6cd8761-43fc-4d1d-bc3e-898643d986f3
            value: ''
            varType: string
            variable_selector:
            - '1744959389144'
            - nodeName
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: is nodename empty
        type: if-else
      height: 124
      id: '17459265895570'
      position:
        x: 3363
        y: 2033
      positionAbsolute:
        x: 3363
        y: 2033
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        selected: false
        template: nodeName is empty, can not analyze.
        title: inadequate conditions
        type: template-transform
        variables: []
      height: 52
      id: '1745926623499'
      position:
        x: 3666
        y: 2125
      positionAbsolute:
        x: 3666
        y: 2125
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1745926623499'
          - output
          variable: output
        selected: false
        title: inadequate conditions
        type: end
      height: 88
      id: '1745926643387'
      position:
        x: 3969
        y: 2251.5
      positionAbsolute:
        x: 3969
        y: 2251.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: e6cd8761-43fc-4d1d-bc3e-898643d986f3
            value: ''
            varType: string
            variable_selector:
            - '1744959389144'
            - nodeName
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: is nodename empty
        type: if-else
      height: 124
      id: '17459267080670'
      position:
        x: 3363
        y: 2197
      positionAbsolute:
        x: 3363
        y: 2197
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -355.05368384089445
      y: -158.3948563968528
      zoom: 0.6040447222022249
