api/init_data/workflows/zh/复杂告警上下游根因分析.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 复杂告警上下游根因分析
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/deepseek:0.0.5@fd6efd37c2a931911de8ab9ca3ba2da303bef146d45ee87ad896b04b36d09403
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: tool
        targetType: tool
      id: 1740103457500-source-1740483937644-target
      source: '1740103457500'
      sourceHandle: source
      target: '1740483937644'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: tool
      id: 1740483937644-source-1740620413020-target
      source: '1740483937644'
      sourceHandle: source
      target: '1740620413020'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1740620413020-source-1740619353044-target
      selected: false
      source: '1740620413020'
      sourceHandle: source
      target: '1740619353044'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: tool
      id: 1740619353044-source-1740620917572-target
      source: '1740619353044'
      sourceHandle: source
      target: '1740620917572'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1740620917572-source-17406208202230-target
      source: '1740620917572'
      sourceHandle: source
      target: '17406208202230'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: tool
      id: 17406208202230-source-1740620994135-target
      source: '17406208202230'
      sourceHandle: source
      target: '1740620994135'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1740620994135-source-17406208182010-target
      source: '1740620994135'
      sourceHandle: source
      target: '17406208182010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: tool
      id: 17406208182010-source-1740621003098-target
      source: '17406208182010'
      sourceHandle: source
      target: '1740621003098'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: llm
      id: 1740621003098-source-17406213332120-target
      source: '1740621003098'
      sourceHandle: source
      target: '17406213332120'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 17406213332120-source-17406213642580-target
      source: '17406213332120'
      sourceHandle: source
      target: '17406213642580'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: tool
      id: 17406213642580-source-1740991358287-target
      source: '17406213642580'
      sourceHandle: source
      target: '1740991358287'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: end
      id: 1740991358287-source-1740031015432-target
      source: '1740991358287'
      sourceHandle: source
      target: '1740031015432'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1740030989850-source-1741576377961-target
      source: '1740030989850'
      sourceHandle: source
      target: '1741576377961'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: tool
      id: 1741576377961-source-1740103457500-target
      source: '1741576377961'
      sourceHandle: source
      target: '1740103457500'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: true
        title: 开始
        type: start
        variables:
        - label: service
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: service
        - label: endpoint
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: endpoint
        - label: startTime（微秒）
          max_length: 48
          options: []
          required: true
          type: number
          variable: startTime
        - label: endTime（微秒）
          max_length: 48
          options: []
          required: true
          type: number
          variable: endTime
      height: 167
      id: '1740030989850'
      position:
        x: -159.73240548105082
        y: 247.96547962156
      positionAbsolute:
        x: -159.73240548105082
        y: 247.96547962156
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1740991358287'
          - text
          variable: text
        - value_selector:
          - '1740991358287'
          - json
          variable: json
        selected: false
        title: 结束
        type: end
      height: 115
      id: '1740031015432'
      position:
        x: 2821.3783011999635
        y: 486.25205395404754
      positionAbsolute:
        x: 2821.3783011999635
        y: 486.25205395404754
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 获取当前入口拓扑的告警事件
        tool_configurations: {}
        tool_label: 获取当前入口拓扑的告警事件
        tool_name: alert
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1740030989850'
            - endTime
          end_time:
            type: variable
            value:
            - '1740030989850'
            - startTime
          endpoint:
            type: mixed
            value: '{{#1740030989850.endpoint#}}'
          service:
            type: mixed
            value: '{{#1740030989850.service#}}'
          startTime:
            type: variable
            value:
            - '1740030989850'
            - startTime
          start_time:
            type: variable
            value:
            - '1740030989850'
            - startTime
        type: tool
      height: 53
      id: '1740103457500'
      position:
        x: 181.23066933933768
        y: 381.7053247659096
      positionAbsolute:
        x: 181.23066933933768
        y: 381.7053247659096
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        provider_id: apo_analysis
        provider_name: apo_analysis
        provider_type: builtin
        selected: false
        title: 关联拓扑和告警数据
        tool_configurations: {}
        tool_label: 关联拓扑和告警数据
        tool_name: alert_associate
        tool_parameters:
          alertData:
            type: mixed
            value: '{{#1740103457500.text#}}'
          alert_data:
            type: mixed
            value: '{{#1740103457500.text#}}'
          topologyData:
            type: mixed
            value: '{{#1741576377961.text#}}'
          topology_data:
            type: mixed
            value: '{{#1740832825737.text#}}'
        type: tool
      height: 53
      id: '1740483937644'
      position:
        x: 473.3676055728321
        y: 231.9640710593971
      positionAbsolute:
        x: 473.3676055728321
        y: 231.9640710593971
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: fd6c6155-9b33-4e8e-880f-0f536f4f4537
          role: system
          text: 你是一个智能推理助手,你的任务是根据用户提供的数据和用户提供的规则，按照要求分析出根因节点
        - id: b48ad458-e31b-4a35-9dae-535df50f3e54
          role: user
          text: "#背景#\n    这里有一个微服务拓扑图，每层有节点名。上层节点和下层节点构成上游与下游关系，且为上游调用下游。请根据数据内容记住上下游服务关系的拓扑结构。\n\
            \    #注意#\n    拓扑数据信息\n    1.每层节点名称最前面的数字为层数,如数字0代表该节点是入口服务节点。数字越大，层数越深，同时针对非入口节点，往上找到的第一个层级比它小1的节点为其上游节点。\n\
            \    2.一个节点可能有多个下游节点，同时它还可能被多个上游节点调用，请不要遗漏任何节点\n    3.不要创造不存在的上下游调用关系，不要弄反上下游关系，也不要遗漏上下游调用关系，拓扑结构中不要出现环，不要联想到其他东西。\n\
            \    4.所有节点按照名称标识，节点名称比较长，请不要压缩任何节点名称。(节点名称中不要带有层级信息，如1──开头的信息)\n    拓扑图数据会在之后给出。\n\
            \    #输出#\n    已记住拓扑数据信息格式，回答简洁简短。"
        - id: e60ae457-5f3b-4f5b-a8dc-7ac6198a4c14
          role: assistant
          text: 已记住拓扑数据信息格式。
        - id: 8ecd0c9e-b236-461c-a711-86904171e6af
          role: user
          text: "#背景#\n    拓扑数据中每个节点后如果有告警事件，会在节点名称后面附带告警事件, 没有告警事件的节点名称后面是空的。\n \
            \   #注意#\n    告警事件为JSON格式数据，含义如下:\n    第一层的KEY为告警事件的类型,是数字，1接口层告警,2为容器异常,3为基础设施异常,4为网络程序异常,5为错误异常。\n\
            \    第二层的KEY为该类型告警数据信息，含义如下\n    - add新增告警事件数\n    - duplicate重复告警事件数\n\
            \    - resolve已经解决告警事件数\n    - keep 目前还存留告警事件数\n    - firstTime该类型告警事件第一次发生时间\n\
            \    - lastTime该类型告警事件最后一次发生时间\n    - resolveTime解决告警的时间(告警已解决才有)\n  \
            \  #处理过程#\n    请仔细处理数据,如处理每行的节点(节点名称从层数后面的--符号后开始,节点名称中不要带有层级信息，如1──开头的信息)，记录的节点名称一定要完整。回答记住数据,不用回答其他内容。\n\
            \    有告警事件的节点定义是节点出现在JSON数据中，没有告警事件的节点定义是节点未出现在JSON数据中\n    #输出#\n   \
            \ 已记住这些告警事件，回答简洁简短。\n    #拓扑图和告警事件#\n    拓扑图和告警事件数据如下\n{{#1740483937644.text#}}"
        - id: 83e3d53e-a468-49eb-a624-1c01ea0d8660
          role: assistant
          text: 已记住这些告警事件。
        - id: 321dad3d-8100-43ef-9192-83678743bfec
          role: user
          text: "#目的#\n      请根据上文提供的微服务拓扑图和每个节点的告警事件, 之后会提供以一个个规则找出符合规则的根因节点。\n \
            \     #根因节点推导流程#\n      - 根据告警事件中异常类型和发生次数，记录异常事件从下游往上游传递的顺序\n      -\
            \ 每次给出一个规则后，从上一个规则中给出的疑似根因节点中继续排除符合规则的节点，不用从头开始推导。不用附带完整数据，总结数据即可\n  \
            \    #注意#\n      在拓扑中，一个上游可能有多个下游节点，多个下游视为同级节点。如果同级节点中的服务都满足异常向上传递，那么这些下游节点都可认为是根因，且排除上游节点，不要遗漏节点。同时记得一定要排除入口节点。\n\
            \      整个过程中一定要使用节点的完整名称！！！不要省略,同时节点名称中的符号不能省略，和原始数据保持一致，节点名称不要有0──之类的层数信息。\n\
            \      #输出#\n      记住推导流程，回答简洁简短。"
        - id: 47201076-79d5-494a-b292-4abb6c7b0255
          role: assistant
          text: 已记住推导流程。
        - id: 0a47ba60-f808-4aee-baf8-6eb335075005
          role: user
          text: '{{#1740620413020.text#}}'
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '1740619353044'
      position:
        x: 880.2421960154973
        y: 263.6222226962782
      positionAbsolute:
        x: 880.2421960154973
        y: 263.6222226962782
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 规则1
        provider_id: apo_rule
        provider_name: apo_rule
        provider_type: builtin
        selected: false
        title: 告警规则执行
        tool_configurations: {}
        tool_label: 告警规则执行
        tool_name: alert_rule
        tool_parameters:
          rule:
            type: mixed
            value: "规则1\n      请从拓扑数据和告警事件数据中，列出没有告警事件的节点名称，将没有告警事件的节点排除，同时列出有告警事件的节点名称，将其标识为疑似节点。\n\
              \      '输出'\n      符合当前规则的节点列表，简洁而短，且节点名称需要完整，和源数据保持一致，不可以省略"
        type: tool
      height: 81
      id: '1740620413020'
      position:
        x: 880.2421960154973
        y: 72.16511471161112
      positionAbsolute:
        x: 880.2421960154973
        y: 72.16511471161112
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: fd6c6155-9b33-4e8e-880f-0f536f4f4537
          role: system
          text: 你是一个智能推理助手,你的任务是根据用户提供的数据和用户提供的规则，按照要求分析出根因节点
        - id: b48ad458-e31b-4a35-9dae-535df50f3e54
          role: user
          text: "#背景#\n    这里有一个微服务拓扑图，每层有节点名。上层节点和下层节点构成上游与下游关系，且为上游调用下游。请根据数据内容记住上下游服务关系的拓扑结构。\n\
            \    #注意#\n    拓扑数据信息\n    1.每层节点名称最前面的数字为层数,如数字0代表该节点是入口服务节点。数字越大，层数越深，同时针对非入口节点，往上找到的第一个层级比它小1的节点为其上游节点。\n\
            \    2.一个节点可能有多个下游节点，同时它还可能被多个上游节点调用，请不要遗漏任何节点\n    3.不要创造不存在的上下游调用关系，不要弄反上下游关系，也不要遗漏上下游调用关系，拓扑结构中不要出现环，不要联想到其他东西。\n\
            \    4.所有节点按照名称标识，节点名称比较长，请不要压缩任何节点名称。(节点名称中不要带有层级信息，如1──开头的信息)\n    拓扑图数据会在之后给出。\n\
            \    #输出#\n    已记住拓扑数据信息格式，回答简洁简短。"
        - id: e60ae457-5f3b-4f5b-a8dc-7ac6198a4c14
          role: assistant
          text: 已记住拓扑数据信息格式。
        - id: 8ecd0c9e-b236-461c-a711-86904171e6af
          role: user
          text: "#背景#\n    拓扑数据中每个节点后如果有告警事件，会在节点名称后面附带告警事件, 没有告警事件的节点名称后面是空的。\n \
            \   #注意#\n    告警事件为JSON格式数据，含义如下:\n    第一层的KEY为告警事件的类型,是数字，1接口层告警,2为容器异常,3为基础设施异常,4为网络程序异常,5为错误异常。\n\
            \    第二层的KEY为该类型告警数据信息，含义如下\n    - add新增告警事件数\n    - duplicate重复告警事件数\n\
            \    - resolve已经解决告警事件数\n    - keep 目前还存留告警事件数\n    - firstTime该类型告警事件第一次发生时间\n\
            \    - lastTime该类型告警事件最后一次发生时间\n    - resolveTime解决告警的时间(告警已解决才有)\n  \
            \  #处理过程#\n    请仔细处理数据,如处理每行的节点(节点名称从层数后面的--符号后开始,节点名称中不要带有层级信息，如1──开头的信息)，记录的节点名称一定要完整。回答记住数据,不用回答其他内容。\n\
            \    有告警事件的节点定义是节点出现在JSON数据中，没有告警事件的节点定义是节点未出现在JSON数据中\n    #输出#\n   \
            \ 已记住这些告警事件，回答简洁简短。\n    #拓扑图和告警事件#\n    拓扑图和告警事件数据如下\n{{#1740483937644.text#}}"
        - id: 83e3d53e-a468-49eb-a624-1c01ea0d8660
          role: assistant
          text: 已记住这些告警事件。
        - id: 321dad3d-8100-43ef-9192-83678743bfec
          role: user
          text: "#目的#\n      请根据上文提供的微服务拓扑图和每个节点的告警事件, 之后会提供以一个个规则找出符合规则的根因节点。\n \
            \     #根因节点推导流程#\n      - 根据告警事件中异常类型和发生次数，记录异常事件从下游往上游传递的顺序\n      -\
            \ 每次给出一个规则后，从上一个规则中给出的疑似根因节点中继续排除符合规则的节点，不用从头开始推导。不用附带完整数据，总结数据即可\n  \
            \    #注意#\n      在拓扑中，一个上游可能有多个下游节点，多个下游视为同级节点。如果同级节点中的服务都满足异常向上传递，那么这些下游节点都可认为是根因，且排除上游节点，不要遗漏节点。同时记得一定要排除入口节点。\n\
            \      整个过程中一定要使用节点的完整名称！！！不要省略,同时节点名称中的符号不能省略，和原始数据保持一致，节点名称不要有0──之类的层数信息。\n\
            \      #输出#\n      记住推导流程，回答简洁简短。"
        - id: 47201076-79d5-494a-b292-4abb6c7b0255
          role: assistant
          text: 已记住推导流程。
        - id: 0a47ba60-f808-4aee-baf8-6eb335075005
          role: user
          text: '{{#1740620413020.text#}}'
        - id: c0312b56-3ec7-40d4-a632-3a61641b397b
          role: assistant
          text: '{{#1740619353044.text#}}'
        - id: 5684cffc-6b73-4c54-b1ea-5f1a0706ec4d
          role: user
          text: '{{#1740620917572.text#}}'
        - id: 3a13fc17-2615-4150-8157-82d63c3dc7ee
          role: assistant
          text: '{{#17406208202230.text#}}'
        - id: 878332b7-a064-4a71-abfd-f5e4b94e3b4e
          role: user
          text: '{{#1740620994135.text#}}'
        selected: false
        title: LLM 3
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '17406208182010'
      position:
        x: 1629.523646097407
        y: 263.6222226962782
      positionAbsolute:
        x: 1629.523646097407
        y: 263.6222226962782
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: fd6c6155-9b33-4e8e-880f-0f536f4f4537
          role: system
          text: 你是一个智能推理助手,你的任务是根据用户提供的数据和用户提供的规则，按照要求分析出根因节点
        - id: b48ad458-e31b-4a35-9dae-535df50f3e54
          role: user
          text: "#背景#\n    这里有一个微服务拓扑图，每层有节点名。上层节点和下层节点构成上游与下游关系，且为上游调用下游。请根据数据内容记住上下游服务关系的拓扑结构。\n\
            \    #注意#\n    拓扑数据信息\n    1.每层节点名称最前面的数字为层数,如数字0代表该节点是入口服务节点。数字越大，层数越深，同时针对非入口节点，往上找到的第一个层级比它小1的节点为其上游节点。\n\
            \    2.一个节点可能有多个下游节点，同时它还可能被多个上游节点调用，请不要遗漏任何节点\n    3.不要创造不存在的上下游调用关系，不要弄反上下游关系，也不要遗漏上下游调用关系，拓扑结构中不要出现环，不要联想到其他东西。\n\
            \    4.所有节点按照名称标识，节点名称比较长，请不要压缩任何节点名称。(节点名称中不要带有层级信息，如1──开头的信息)\n    拓扑图数据会在之后给出。\n\
            \    #输出#\n    已记住拓扑数据信息格式，回答简洁简短。"
        - id: e60ae457-5f3b-4f5b-a8dc-7ac6198a4c14
          role: assistant
          text: 已记住拓扑数据信息格式。
        - id: 8ecd0c9e-b236-461c-a711-86904171e6af
          role: user
          text: "#背景#\n    拓扑数据中每个节点后如果有告警事件，会在节点名称后面附带告警事件, 没有告警事件的节点名称后面是空的。\n \
            \   #注意#\n    告警事件为JSON格式数据，含义如下:\n    第一层的KEY为告警事件的类型,是数字，1接口层告警,2为容器异常,3为基础设施异常,4为网络程序异常,5为错误异常。\n\
            \    第二层的KEY为该类型告警数据信息，含义如下\n    - add新增告警事件数\n    - duplicate重复告警事件数\n\
            \    - resolve已经解决告警事件数\n    - keep 目前还存留告警事件数\n    - firstTime该类型告警事件第一次发生时间\n\
            \    - lastTime该类型告警事件最后一次发生时间\n    - resolveTime解决告警的时间(告警已解决才有)\n  \
            \  #处理过程#\n    请仔细处理数据,如处理每行的节点(节点名称从层数后面的--符号后开始,节点名称中不要带有层级信息，如1──开头的信息)，记录的节点名称一定要完整。回答记住数据,不用回答其他内容。\n\
            \    有告警事件的节点定义是节点出现在JSON数据中，没有告警事件的节点定义是节点未出现在JSON数据中\n    #输出#\n   \
            \ 已记住这些告警事件，回答简洁简短。\n    #拓扑图和告警事件#\n    拓扑图和告警事件数据如下\n{{#1740483937644.text#}}"
        - id: 83e3d53e-a468-49eb-a624-1c01ea0d8660
          role: assistant
          text: 已记住这些告警事件。
        - id: 321dad3d-8100-43ef-9192-83678743bfec
          role: user
          text: "#目的#\n      请根据上文提供的微服务拓扑图和每个节点的告警事件, 之后会提供以一个个规则找出符合规则的根因节点。\n \
            \     #根因节点推导流程#\n      - 根据告警事件中异常类型和发生次数，记录异常事件从下游往上游传递的顺序\n      -\
            \ 每次给出一个规则后，从上一个规则中给出的疑似根因节点中继续排除符合规则的节点，不用从头开始推导。不用附带完整数据，总结数据即可\n  \
            \    #注意#\n      在拓扑中，一个上游可能有多个下游节点，多个下游视为同级节点。如果同级节点中的服务都满足异常向上传递，那么这些下游节点都可认为是根因，且排除上游节点，不要遗漏节点。同时记得一定要排除入口节点。\n\
            \      整个过程中一定要使用节点的完整名称！！！不要省略,同时节点名称中的符号不能省略，和原始数据保持一致，节点名称不要有0──之类的层数信息。\n\
            \      #输出#\n      记住推导流程，回答简洁简短。"
        - id: 47201076-79d5-494a-b292-4abb6c7b0255
          role: assistant
          text: 已记住推导流程。
        - id: 0a47ba60-f808-4aee-baf8-6eb335075005
          role: user
          text: '{{#1740620413020.text#}}'
        - id: 828c0968-487a-4a70-a647-b76ee59dd33a
          role: assistant
          text: '{{#1740619353044.text#}}'
        - id: e0522816-d592-4951-a5b3-de0d390d9c9a
          role: user
          text: '{{#1740620917572.text#}}'
        selected: false
        title: LLM 2
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '17406208202230'
      position:
        x: 1222.2131696489557
        y: 268.2444553409973
      positionAbsolute:
        x: 1222.2131696489557
        y: 268.2444553409973
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 规则2
        provider_id: apo_rule
        provider_name: apo_rule
        provider_type: builtin
        selected: false
        title: 告警规则执行2
        tool_configurations: {}
        tool_label: 告警规则执行
        tool_name: alert_rule
        tool_parameters:
          rule:
            type: mixed
            value: "规则2\n      从应用接口层告警出发,沿着业务入口的拓扑结构，从上游向下游每个节点依次追踪（使用拓扑图数据，不要搞错上下游）。\
              \ 请输出推理过程\n      分析下游节点的时候一定要比较与下游节点的数字大小。\n      在追踪过程中分析每个节点： \n \
              \     如果存在接口层告警，继续向该节点前面数字到与它相同数字之间大于节点前面数字的节点追踪，\n      如果没有接口层告警，停止追踪，返回上一级节点，当前节点排除。\
              \ \n      该节点在以下情况下作为疑似根因节点：\n      1. 存在其它类型的告警\n      2. 该节点前面数字到与它相同数字之间大于节点前面数字的节点没有跟该节点相同类型的告警\n\
              \      3. 如果节点是深度最深（节点前面数字最大）的节点，同时节点存在接口告警\n      4. 在追踪过程中，对于每个有1或者5类型类型接口告警的节点：{\
              \ \n      检查是否存在出了1或者5类型类型的其他类型的告警，如果存在，则该节点是疑似根因，记录并继续分析下游节点追踪。 \n\
              \      如果不存在1或者5类型类型的其他告警，同时该节点前面数字到与它相同数字之间大于节点前面数字的节点告警没有1或者5类型类型接口告警，则该节点是疑似根因节点。\n\
              \      '注意'\n      在拓扑图中节点前面数字表示拓扑图中的深度，拓扑图中的深度与文本中节点的先后顺序没有关系，相同数字表示兄弟关系没有上下游关系\n\
              \      下游节点定义：该节点前面数字到与它相同数字之间大于节点前面数字的节点，\n      最下游节点深度定义：疑似根因节点前面数字最大的数字。\
              \ 如果疑似根因的前面数字与最下游节点深度相同，是疑似根因的优先候选。\n      '输出'\n      符合当前规则的节点列表，简洁而短，且节点名称需要完整，不可以省略"
        type: tool
      height: 81
      id: '1740620917572'
      position:
        x: 1252.6094398690695
        y: 72.16511471161112
      positionAbsolute:
        x: 1252.6094398690695
        y: 72.16511471161112
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 规则3
        provider_id: apo_rule
        provider_name: apo_rule
        provider_type: builtin
        selected: false
        title: 告警规则执行3
        tool_configurations: {}
        tool_label: 告警规则执行
        tool_name: alert_rule
        tool_parameters:
          rule:
            type: mixed
            value: "规则3\n      根因节点需要满足异常从该节点开始向上游传递递，同时该类型异常告警事件是持续发生的，而不是偶发的。\n\
              \      '注意'\n      如果接口层类型的告警既有新增又有解决，且该已解决告警事件时间和告警事件第一次发生时间接近，该节点可认为是偶发。\n\
              \      但是接口层类型告警存在存留告警，该节点应做为疑似根因节点。\n      节点的异常告警是偶发，那么它不应该被认定为根因节点\n\
              \      '输出'\n      符合当前规则的节点列表，简洁而短，且节点名称需要完整，和源数据保持一致，不可以省略"
        type: tool
      height: 81
      id: '1740620994135'
      position:
        x: 1629.523646097407
        y: 83.3551495522311
      positionAbsolute:
        x: 1629.523646097407
        y: 83.3551495522311
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: 规则4
        provider_id: apo_rule
        provider_name: apo_rule
        provider_type: builtin
        selected: false
        title: 告警规则执行4
        tool_configurations: {}
        tool_label: 告警规则执行
        tool_name: alert_rule
        tool_parameters:
          rule:
            type: mixed
            value: "规则4\n      如果某个节点发生异常，但是上游节点未发生接口异常告警，可以将这个节点及其分支全部排除。\n     \
              \ '输出'\n      符合当前规则的节点列表，简洁而短，且节点名称需要完整，和源数据保持一致，不可以省略"
        type: tool
      height: 81
      id: '1740621003098'
      position:
        x: 1979.7459725445985
        y: 83.3551495522311
      positionAbsolute:
        x: 1979.7459725445985
        y: 83.3551495522311
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: fd6c6155-9b33-4e8e-880f-0f536f4f4537
          role: system
          text: 你是一个智能推理助手,你的任务是根据用户提供的数据和用户提供的规则，按照要求分析出根因节点
        - id: b48ad458-e31b-4a35-9dae-535df50f3e54
          role: user
          text: "#背景#\n    这里有一个微服务拓扑图，每层有节点名。上层节点和下层节点构成上游与下游关系，且为上游调用下游。请根据数据内容记住上下游服务关系的拓扑结构。\n\
            \    #注意#\n    拓扑数据信息\n    1.每层节点名称最前面的数字为层数,如数字0代表该节点是入口服务节点。数字越大，层数越深，同时针对非入口节点，往上找到的第一个层级比它小1的节点为其上游节点。\n\
            \    2.一个节点可能有多个下游节点，同时它还可能被多个上游节点调用，请不要遗漏任何节点\n    3.不要创造不存在的上下游调用关系，不要弄反上下游关系，也不要遗漏上下游调用关系，拓扑结构中不要出现环，不要联想到其他东西。\n\
            \    4.所有节点按照名称标识，节点名称比较长，请不要压缩任何节点名称。(节点名称中不要带有层级信息，如1──开头的信息)\n    拓扑图数据会在之后给出。\n\
            \    #输出#\n    已记住拓扑数据信息格式，回答简洁简短。"
        - id: e60ae457-5f3b-4f5b-a8dc-7ac6198a4c14
          role: assistant
          text: 已记住拓扑数据信息格式。
        - id: 8ecd0c9e-b236-461c-a711-86904171e6af
          role: user
          text: "#背景#\n    拓扑数据中每个节点后如果有告警事件，会在节点名称后面附带告警事件, 没有告警事件的节点名称后面是空的。\n \
            \   #注意#\n    告警事件为JSON格式数据，含义如下:\n    第一层的KEY为告警事件的类型,是数字，1接口层告警,2为容器异常,3为基础设施异常,4为网络程序异常,5为错误异常。\n\
            \    第二层的KEY为该类型告警数据信息，含义如下\n    - add新增告警事件数\n    - duplicate重复告警事件数\n\
            \    - resolve已经解决告警事件数\n    - keep 目前还存留告警事件数\n    - firstTime该类型告警事件第一次发生时间\n\
            \    - lastTime该类型告警事件最后一次发生时间\n    - resolveTime解决告警的时间(告警已解决才有)\n  \
            \  #处理过程#\n    请仔细处理数据,如处理每行的节点(节点名称从层数后面的--符号后开始,节点名称中不要带有层级信息，如1──开头的信息)，记录的节点名称一定要完整。回答记住数据,不用回答其他内容。\n\
            \    有告警事件的节点定义是节点出现在JSON数据中，没有告警事件的节点定义是节点未出现在JSON数据中\n    #输出#\n   \
            \ 已记住这些告警事件，回答简洁简短。\n    #拓扑图和告警事件#\n    拓扑图和告警事件数据如下\n{{#1740483937644.text#}}"
        - id: 83e3d53e-a468-49eb-a624-1c01ea0d8660
          role: assistant
          text: 已记住这些告警事件。
        - id: 321dad3d-8100-43ef-9192-83678743bfec
          role: user
          text: "#目的#\n      请根据上文提供的微服务拓扑图和每个节点的告警事件, 之后会提供以一个个规则找出符合规则的根因节点。\n \
            \     #根因节点推导流程#\n      - 根据告警事件中异常类型和发生次数，记录异常事件从下游往上游传递的顺序\n      -\
            \ 每次给出一个规则后，从上一个规则中给出的疑似根因节点中继续排除符合规则的节点，不用从头开始推导。不用附带完整数据，总结数据即可\n  \
            \    #注意#\n      在拓扑中，一个上游可能有多个下游节点，多个下游视为同级节点。如果同级节点中的服务都满足异常向上传递，那么这些下游节点都可认为是根因，且排除上游节点，不要遗漏节点。同时记得一定要排除入口节点。\n\
            \      整个过程中一定要使用节点的完整名称！！！不要省略,同时节点名称中的符号不能省略，和原始数据保持一致，节点名称不要有0──之类的层数信息。\n\
            \      #输出#\n      记住推导流程，回答简洁简短。"
        - id: 47201076-79d5-494a-b292-4abb6c7b0255
          role: assistant
          text: 已记住推导流程。
        - id: 0a47ba60-f808-4aee-baf8-6eb335075005
          role: user
          text: '{{#1740620413020.text#}}'
        - id: c0312b56-3ec7-40d4-a632-3a61641b397b
          role: assistant
          text: '{{#1740619353044.text#}}'
        - id: 5684cffc-6b73-4c54-b1ea-5f1a0706ec4d
          role: user
          text: '{{#1740620917572.text#}}'
        - id: 3a13fc17-2615-4150-8157-82d63c3dc7ee
          role: assistant
          text: '{{#17406208202230.text#}}'
        - id: 878332b7-a064-4a71-abfd-f5e4b94e3b4e
          role: user
          text: '{{#1740620994135.text#}}'
        - id: 6793984b-1ebd-4440-9d85-56846eb3f0b2
          role: assistant
          text: '{{#17406208182010.text#}}'
        - id: b38b8c24-c325-4c67-9f25-18f00869da81
          role: user
          text: '{{#1740621003098.text#}}'
        selected: false
        title: LLM 4
        type: llm
        variables: []
        vision:
          enabled: false
      height: 89
      id: '17406213332120'
      position:
        x: 1979.7459725445985
        y: 268.2444553409973
      positionAbsolute:
        x: 1979.7459725445985
        y: 268.2444553409973
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 汇总
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-5.4
          provider: langgenius/openai_api_compatible/openai_api_compatible
        prompt_template:
        - id: fd6c6155-9b33-4e8e-880f-0f536f4f4537
          role: system
          text: 你是一个智能推理助手,你的任务是根据用户提供的数据和用户提供的规则，按照要求分析出根因节点
        - id: b48ad458-e31b-4a35-9dae-535df50f3e54
          role: user
          text: "#背景#\n    这里有一个微服务拓扑图，每层有节点名。上层节点和下层节点构成上游与下游关系，且为上游调用下游。请根据数据内容记住上下游服务关系的拓扑结构。\n\
            \    #注意#\n    拓扑数据信息\n    1.每层节点名称最前面的数字为层数,如数字0代表该节点是入口服务节点。数字越大，层数越深，同时针对非入口节点，往上找到的第一个层级比它小1的节点为其上游节点。\n\
            \    2.一个节点可能有多个下游节点，同时它还可能被多个上游节点调用，请不要遗漏任何节点\n    3.不要创造不存在的上下游调用关系，不要弄反上下游关系，也不要遗漏上下游调用关系，拓扑结构中不要出现环，不要联想到其他东西。\n\
            \    4.所有节点按照名称标识，节点名称比较长，请不要压缩任何节点名称。(节点名称中不要带有层级信息，如1──开头的信息)\n    拓扑图数据会在之后给出。\n\
            \    #输出#\n    已记住拓扑数据信息格式，回答简洁简短。"
        - id: e60ae457-5f3b-4f5b-a8dc-7ac6198a4c14
          role: assistant
          text: 已记住拓扑数据信息格式。
        - id: 8ecd0c9e-b236-461c-a711-86904171e6af
          role: user
          text: "#背景#\n    拓扑数据中每个节点后如果有告警事件，会在节点名称后面附带告警事件, 没有告警事件的节点名称后面是空的。\n \
            \   #注意#\n    告警事件为JSON格式数据，含义如下:\n    第一层的KEY为告警事件的类型,是数字，1接口层告警,2为容器异常,3为基础设施异常,4为网络程序异常,5为错误异常。\n\
            \    第二层的KEY为该类型告警数据信息，含义如下\n    - add新增告警事件数\n    - duplicate重复告警事件数\n\
            \    - resolve已经解决告警事件数\n    - keep 目前还存留告警事件数\n    - firstTime该类型告警事件第一次发生时间\n\
            \    - lastTime该类型告警事件最后一次发生时间\n    - resolveTime解决告警的时间(告警已解决才有)\n  \
            \  #处理过程#\n    请仔细处理数据,如处理每行的节点(节点名称从层数后面的--符号后开始,节点名称中不要带有层级信息，如1──开头的信息)，记录的节点名称一定要完整。回答记住数据,不用回答其他内容。\n\
            \    有告警事件的节点定义是节点出现在JSON数据中，没有告警事件的节点定义是节点未出现在JSON数据中\n    #输出#\n   \
            \ 已记住这些告警事件，回答简洁简短。\n    #拓扑图和告警事件#\n    拓扑图和告警事件数据如下\n{{#1740483937644.text#}}"
        - id: 83e3d53e-a468-49eb-a624-1c01ea0d8660
          role: assistant
          text: 已记住这些告警事件。
        - id: 321dad3d-8100-43ef-9192-83678743bfec
          role: user
          text: "#目的#\n      请根据上文提供的微服务拓扑图和每个节点的告警事件, 之后会提供以一个个规则找出符合规则的根因节点。\n \
            \     #根因节点推导流程#\n      - 根据告警事件中异常类型和发生次数，记录异常事件从下游往上游传递的顺序\n      -\
            \ 每次给出一个规则后，从上一个规则中给出的疑似根因节点中继续排除符合规则的节点，不用从头开始推导。不用附带完整数据，总结数据即可\n  \
            \    #注意#\n      在拓扑中，一个上游可能有多个下游节点，多个下游视为同级节点。如果同级节点中的服务都满足异常向上传递，那么这些下游节点都可认为是根因，且排除上游节点，不要遗漏节点。同时记得一定要排除入口节点。\n\
            \      整个过程中一定要使用节点的完整名称！！！不要省略,同时节点名称中的符号不能省略，和原始数据保持一致，节点名称不要有0──之类的层数信息。\n\
            \      #输出#\n      记住推导流程，回答简洁简短。"
        - id: 47201076-79d5-494a-b292-4abb6c7b0255
          role: assistant
          text: 已记住推导流程。
        - id: 0a47ba60-f808-4aee-baf8-6eb335075005
          role: user
          text: '{{#1740620413020.text#}}'
        - id: c0312b56-3ec7-40d4-a632-3a61641b397b
          role: assistant
          text: '{{#1740619353044.text#}}'
        - id: 5684cffc-6b73-4c54-b1ea-5f1a0706ec4d
          role: user
          text: '{{#1740620917572.text#}}'
        - id: 3a13fc17-2615-4150-8157-82d63c3dc7ee
          role: assistant
          text: '{{#17406208202230.text#}}'
        - id: 878332b7-a064-4a71-abfd-f5e4b94e3b4e
          role: user
          text: '{{#1740620994135.text#}}'
        - id: 4537a3f2-85b5-4156-8db1-c8533dabc80f
          role: assistant
          text: '{{#17406208182010.text#}}'
        - id: 5f5edef3-3bd1-46d6-ab82-f8e4561efb91
          role: user
          text: '{{#1740621003098.text#}}'
        - id: f0d72fb5-747d-405a-8769-0ba96f5aa710
          role: assistant
          text: '{{#17406213332120.text#}}'
        - id: 6785fe4d-1f47-4938-b50d-1d5b65bb26d1
          role: user
          text: "#目的#\n    汇总之前的节点信息，返回一个满足最多规则的根因的节点和最多三个疑似根因节点。\n    #注意#\n    不需要其他任何额外信息,且节点名称一定完整，和源数据保持一致。\n\
            \    最终的根因节点一定不能是入口节点（拓扑图中最上层的节点）。\n    节点名称必须完整，和拓扑数据保持一致，且节点名称前后不要用任何特殊符号，如空格,\
            \ *, `等符号。\n    xxx后面必须跟着节点两个字,不要直接给出xxx.\n    #输出#\n    输出为JSON格式,仅有包含字段nodeName和otherNodeName,josn内的节点名必须完整,保留原有的任何符号，不可省略\n\
            \    nodeName给出造成根因的节点。(不要给出无,必须有一个节点如造成根因的是A节点)\n    otherNodeName给出疑似根因节点的列表。(列表内可以有多个节点,但是不能和造成根因节点相同)"
        selected: false
        title: LLM 5
        type: llm
        variables: []
        vision:
          enabled: false
      height: 117
      id: '17406213642580'
      position:
        x: 1957.0410005791687
        y: 486.25205395404754
      positionAbsolute:
        x: 1957.0410005791687
        y: 486.25205395404754
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: llm text
            ja_JP: llm text
            pt_BR: llm text
            zh_Hans: 大模型返回文本结果
          label:
            en_US: text
            ja_JP: text
            pt_BR: text
            zh_Hans: text
          llm_description: rule
          max: null
          min: null
          name: text
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          text: ''
        provider_id: apo_rule
        provider_name: apo_rule
        provider_type: builtin
        selected: false
        title: 提取根因节点
        tool_configurations: {}
        tool_label: 提取根因节点
        tool_name: root_cause
        tool_parameters:
          text:
            type: mixed
            value: '{{#17406213642580.text#}}'
        type: tool
      height: 53
      id: '1740991358287'
      position:
        x: 2388.1123042552454
        y: 486.25205395404754
      positionAbsolute:
        x: 2388.1123042552454
        y: 486.25205395404754
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: entry service
            ja_JP: entry service
            pt_BR: entry service
            zh_Hans: 拓扑入口服务名
          label:
            en_US: service
            ja_JP: service
            pt_BR: service
            zh_Hans: service
          llm_description: toplogy service name
          max: null
          min: null
          name: service
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: toplogy endpoint
            ja_JP: toplogy endpoint
            pt_BR: toplogy endpoint
            zh_Hans: 拓扑入口服务端点
          label:
            en_US: endpoint
            ja_JP: endpoint
            pt_BR: endpoint
            zh_Hans: endpoint
          llm_description: toplogy endpoint
          max: null
          min: null
          name: endpoint
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query start time
            ja_JP: Data query start time
            pt_BR: Data query start time
            zh_Hans: 开始时间 (微秒)
          label:
            en_US: startTime
            ja_JP: startTime
            pt_BR: startTime
            zh_Hans: startTime
          llm_description: Data query start time
          max: null
          min: null
          name: startTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Data query end time
            ja_JP: Data query end time
            pt_BR: Data query end time
            zh_Hans: 结束时间 (微秒)
          label:
            en_US: endTime
            ja_JP: endTime
            pt_BR: endTime
            zh_Hans: endTime
          llm_description: Data query start time
          max: null
          min: null
          name: endTime
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: number
        params:
          endTime: ''
          endpoint: ''
          service: ''
          startTime: ''
        provider_id: apo_select
        provider_name: apo_select
        provider_type: builtin
        selected: false
        title: 查询入口服务拓扑结构
        tool_configurations: {}
        tool_label: 查询入口服务拓扑结构
        tool_name: 查询入口服务拓扑结构
        tool_parameters:
          endTime:
            type: variable
            value:
            - '1740030989850'
            - endTime
          endpoint:
            type: mixed
            value: '{{#1740030989850.endpoint#}}'
          service:
            type: mixed
            value: '{{#1740030989850.service#}}'
          startTime:
            type: variable
            value:
            - '1740030989850'
            - startTime
        type: tool
      height: 53
      id: '1741576377961'
      position:
        x: 152.2095509987039
        y: 100.4720021403999
      positionAbsolute:
        x: 152.2095509987039
        y: 100.4720021403999
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: 315.9066237900074
      y: 209.8848334522369
      zoom: 0.44320613412228055
